[2017-12-25 11:15] takahirom opened #1 "Topic list in search tab"
# Overview
With this feature, users can search for sessions by topic.
Design: https://scene.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a327ae81dc4b464ad8ed740
You should implement [SearchTopicsFragment](https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/search/SearchTopicsFragment.kt)

[2017-12-25 11:17] takahirom opened #2 "Speaker list in search tab"
# Overview
With this feature, users can see speaker list in search tab
https://scene.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a327ae91dc4b464ad8ed7e5
You should implement [SearchSpeakersFragment](https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/search/SearchSpeakersFragment.kt)

[2017-12-25 11:21] takahirom opened #3 "Apply feed(information) tab icons(tutorial, notification, alert, enquete) and design"
# Overview
Apply feed tab design.
Feed icons contain tutorial, notification, alert, Enquete icons.
And that design apply
https://scene.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a527bbce212789e8ea30f1d

[2017-12-25 11:23] takahirom opened #4 "Session detail activity(without Design, only show session data)"
# Overview
With this feature, users can  see session detail(without Design, only show session data)
Create  SessionDetailActivity and SessionDetailViewModel

[2017-12-25 11:23] takahirom opened #5 "Apply session detail design"
# Overview
Apply session detail design
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a5239e5ab18626c0885a87c

[2017-12-25 12:31] takahirom opened #6 "Execute search speaker(without design)"
Currently, the app can not execute speaker search. Please do it.

[2017-12-25 12:31] takahirom opened #7 "Apply search result design"
# Oveview
Apply search result design

[2017-12-25 12:34] takahirom opened #8 "[Assigned] Map screen"
# Overview
With this feature, Users can know where droidkaigi will be held.
This screen uses google map API.
You should implement [MapFragment](https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/map/MapFragment.kt)

Design
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a532ae6a02185f395b28c3e

[2017-12-25 12:35] takahirom opened #9 "Sponsor screen"
# Overview
In this screen, you will see a list of sponsors.
You can check on [Official Web Site](http://droidkaigi.github.io/2018/)
Probably you should implement [SponsorsFragment](https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/sponsors/SponsorsFragment.kt)
Design
https://app.zeplin.io/project/5a327a64f0b20176887c556c

[2017-12-25 12:37] takahirom opened #10 "Apply sponsor screen design"
# Overview
Apply sponsor screen design

[2017-12-25 12:37] takahirom opened #11 "Apply map design"
# Overview
Apply map design

[2017-12-25 12:51] takahirom opened #12 "[Assigned] OSS License screen"
# Overview
This is necessary to comply with the OSS license.

[2017-12-25 13:02] takahirom opened #13 "[Assigned] Settings screen"
# Overview

This screen contains the following settings.

- Enable Notification
- Use Local time

 We can do it with PreferenceFragmentCompat

[2017-12-25 13:02] takahirom opened #14 "[Assigned] Contributors screen"
# Overview
In this screen, you will see a list of contributors.
This screen may use GitHub API
Design
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a539ca700a269f5c166755b
https://scene.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a539ca700a269f5c166755b

[2017-12-25 13:03] takahirom opened #15 "Apply contribution screen design"
# Overview
Apply contribution screen design

[2017-12-25 13:03] takahirom opened #16 "Apply settings screen design"
# Overview
Apply settings screen design

[2017-12-25 13:05] takahirom opened #17 "Apply sessions design"
# Overview
Apply sessions design
https://scene.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a40dfc72db8817326b75ca6

[2017-12-25 13:13] takahirom opened #18 "Display matched character strings in bold type on search tab"
# Overview
This is probably the last year's DroidKaigi application will be helpful.

[2017-12-25 13:29] takahirom opened #19 "Apply navigation drawer design"
# Overview
Apply navigation drawer design

[2017-12-27 15:01] #17 closed, assigned to nobody

[2017-12-28 16:52] #4 closed, assigned to nobody

[2017-12-29 02:39] punchdrunker opened #24 "test issue"
## Overview (Required)
-

## Links
-

## Screenshot
<img src="" width="300" />

[2017-12-29 02:40] #24 closed, assigned to nobody

[2017-12-29 03:51] takahirom opened #25 "Create empty activities and fragments for each function"
# Overview
* Map
* Sponsors
* AboutThisApp
* Settings
* Topic
* User

[2017-12-29 14:37] takahirom opened #27 "About this app screen"
# Overview
With this function, Users can know about this app
You should implement [AboutThisAppFragment](https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/about/AboutThisAppFragment.kt)

# Links
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a5b17ff4d545fa82084b089
(If you raised hand, I invite you)

# Re

[2017-12-29 14:55] #25 closed, assigned to nobody

[2017-12-29 15:01] takahirom opened #28 "Apply about this app screen design"
# Overview
Apply this app screen design

[2018-01-01 01:56] takahirom opened #34 "[Assigned] Enable Proguard for release build"
## Overview (Required)
- Enabling proguard is better for optimization and implementation reference

[2018-01-06 08:36] futabooo opened #40 "[Assigned] Session feedback screen"
## Overview (Required)
- With this feature, users can send feedback for session.
- use this link https://docs.google.com/forms/d/e/1FAIpQLSdNeo0djZbTRb1toK4mIRiVcgT4Gif6YZCk5b3WYEl-c77d5w/viewform
- https://github.com/DroidKaigi/conference-app-2017/blob/master/app/src/main/java/io/github/droidkaigi/confsched2017/view/fragment/SessionFeedbackFragment.java

[2018-01-06 08:59] takahirom opened #41 "Multiple language support"
## Overview (Required)
- DroidKaigi will become an international conference. So we should support multiple language

## Links
- https://speakerdeck.com/konifar/17keguo-falseduo-yan-yu-dui-ying-tips

[2018-01-06 11:58] takahirom opened #43 "Insert special session and times(welcome talk, lunch, party)"
## Overview (Required)
- We should add special sessions or times like welcome talk, lunch, party.

## Links
- https://droidkaigi.jp/2018/timetable/
- https://github.com/DroidKaigi/web2018/blob/master/src/pages/timetable.js#L568

[2018-01-06 12:29] #2 closed, assigned to takahirom

[2018-01-08 13:44] #43 closed, assigned to takahirom

[2018-01-08 15:24] #1 closed, assigned to futabooo

[2018-01-09 02:19] takahirom opened #51 "Change API URL"
## Overview (Required)
- Change URL in NetworkModule.kt

https://sessionize.com/api/v2/xtj7shk8/view/
to
https://droidkaigi.jp/2018/sessionize/

[2018-01-09 02:20] takahirom opened #52 "Delete filter icon in search tab"
## Overview (Required)
- Probably we don't have time to implement session filter future.

[2018-01-09 05:32] #10 closed, assigned to nobody

[2018-01-09 05:32] #11 closed, assigned to nobody

[2018-01-09 07:49] #5 closed, assigned to takahirom

[2018-01-09 16:18] takahirom opened #55 "[Assigned] Fix ellipsis in Speakers"
## Overview (Required)
- If the text is long, we should change text end like this "..."

## Screenshot
<img src="https://user-images.githubusercontent.com/1386930/34730799-c4945cc2-f5a3-11e7-8a83-73b15adc51dc.png" width="300" />

[2018-01-09 17:01] takahirom opened #56 "[Assigned] Change recents title text color to white"
## Overview (Required)
- Probably you should use `TaskDescription`

## Screenshot
<img src="https://user-images.githubusercontent.com/1386930/34732884-ee4b034e-f5a9-11e7-9865-e5b2f6de1afe.png" width="300" />

[2018-01-10 01:37] #41 closed, assigned to takahirom

[2018-01-10 01:39] #19 closed, assigned to nobody

[2018-01-10 01:39] #52 closed, assigned to nobody

[2018-01-11 04:04] takahirom opened #58 "[Assigned] The lunch session has needless "/""
## Overview (Required)
- The lunch session has needless "/"
- Probably you should modify item_special_session.xml

## Screenshot
<img src="https://user-images.githubusercontent.com/1386930/34808073-abcab556-f6cf-11e7-9f51-7d820730ef8b.png" width="300" />

[2018-01-11 08:42] #15 closed, assigned to nobody

[2018-01-11 08:52] takahirom opened #60 "Display notification when my session starts"
## Overview (Required)
- We should display notification when my session starts

## Links
- I think it would be better to use AlarmManager.
![image](https://user-images.githubusercontent.com/1386930/34816298-e332d384-f6f7-11e7-934b-47af6c04365b.png)

[2018-01-12 02:27] takahirom opened #61 "[Assigned] Create custom view for speakers"
## Overview (Required)
- Currently, we should write binding logic for speakers image and text for each session.

## Screenshot
<img src="https://user-images.githubusercontent.com/1386930/34856878-0c3ce542-f78b-11e7-82b9-569162127c04.png" width="200" />

[2018-01-12 02:36] #28 closed, assigned to nobody

[2018-01-12 02:49] takahirom opened #62 "[Assigned] Apply session icon"
Overview
Apply feed tab design.
Session icons for each level icons.
And that design apply

[2018-01-12 03:07] takahirom opened #63 "[Assigned] Use emoji compat library"
## Overview (Required)
- Some session using emoji. So I think it is better to use emoji compatibility library for device and os compatibility.

## Links
- https://droidkaigi.jp/2018/timetable?session=16836

[2018-01-12 03:09] takahirom opened #64 "[Assigned] Shared element transition between "speakers in search screen" and "speaker detail screen""
## Overview (Required)
- I think we can use shared element transition with speaker image
![image](https://user-images.githubusercontent.com/1386930/34858712-330509e8-f795-11e7-9480-a9d86e259946.png)

[2018-01-12 03:13] takahirom opened #65 "[Assigned] Scroll by current time"
# Overview
We want to see the current session. So we should scroll sessions for current session when opening the app.

[2018-01-12 03:44] takahirom opened #66 "[Assigned]iOS app🍎"
## Overview (Required)
- We created a common module for iOS (and Server)
- So, You can create iOS version.
- I think that it is enough just to display the session list.

## Links
- [kotlinconf-app](https://github.com/JetBrains/kotlinconf-app)

[2018-01-12 08:33] takahirom opened #67 "[Assigned] Espresso UI testing"
## Overview (Required)
- We can test app behavior.
- I think it is enough to launch MainActivity and DetailSessionActivity.

[2018-01-12 12:43] takahirom opened #69 "[Assigned] Swap language Japanese and English in SearchSessionsFragment"
## Overview (Required)
- If Language preference setting is English, We should replace Japanese and English.

❌
[code]

⭕

[code]

- You can see similar implementation
 [TopicItem](https://github.com/droidkaigi/conference-app-2018/blob/e28d635e7e7ef9667971d85200a4b1dd35522617/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/search/item/TopicItem.kt#L25-L25)

## Screenshot
<img src=

[2018-01-13 02:17] #6 closed, assigned to nobody

[2018-01-13 02:27] takahirom opened #70 "[Assigned] Sticky label for SearchSpeakersFragment"
## Overview (Required)
- We want to implement sticky label behavior.

## Links
- It probably need ItemDecoration like this https://github.com/cephus/AdvancedRecyclerView/blob/master/app/src/main/java/com/codeundone/advancedrecyclerview/decoration/complex/ComplexDecoration.java#L98

## Screenshot
Zeplin screenshot.
<img src="https://user-images.githubusercontent.com/1386930/34901901-5e32ec10-f854-1

[2018-01-13 02:44] takahirom opened #71 "[Assigned] Disable debug futures for Release"
## Overview (Required)
- We should disable debug futures for release(Stetho, Timber)
- We can use `DebugApp` for that implementation.

[2018-01-13 02:49] takahirom opened #72 "Debug menu"
## Overview (Required)
- It is useful!
- I think that If we implement #60, I want to confirm by debug menu.

[2018-01-13 04:24] konifar opened #73 "[Assigned] Fix typo"
## Overview (Required)
⚡️

https://github.com/droidkaigi/conference-app-2018/blob/38a1caf1ed1a996d63fbea75adf0bd8725eeb36a/app/src/main/java/io/github/droidkaigi/confsched2018/data/db/FavoriteFireStoreDatabase.kt#L167-L167

[2018-01-13 04:52] AAkira commented on #55
🙋

[2018-01-13 04:52] konifar commented on #55
@AAkira 🆒

[2018-01-13 04:54] yagi2 commented on #73
🙋

[2018-01-13 04:54] konifar commented on #73
@yagi2 Thanks for quick tackle!

[2018-01-13 04:55] takahirom commented on #55
@AAkira 🥇

[2018-01-13 04:57] nyanyoni commented on #69
🙋

[2018-01-13 04:57] konifar commented on #69
@nyanyoni Great 👍

[2018-01-13 05:00] konifar opened #75 "[Assigned]Replace hardcoded text to strings.xml"
## Overview (Required)
`DAY1`
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/layout/fragment_room_sessions.xml#L22

@takahirom If this is intentional, please close this issue 🙇

[2018-01-13 05:01] takahirom commented on #75
Great 👍
This is not my intentional

[2018-01-13 05:01] AAkira commented on #55
@takahirom @konifar

I'm going to write in style.
How is it?

Like this

[code]
Text size and color is set by text appearance.
Do you have a policy of style?

[2018-01-13 05:06] takahirom commented on #55
@AAkira I think It is good 👍
This text appearances based [Material Design Dense script](https://material.io/guidelines/style/typography.html)
I think that it is better to use Style and TextAppearance in combination. How about this?

[code]

[2018-01-13 05:09] konifar commented on #55
@AAkira Thanks for good suggestion!
There is no policy for now.
but in my opinion, it's better not to create style to specify maxLines.
I prefer using style to specify textSize and textColor like below.

[code]

If we add the styles to specify maxLines, the number of the styles would be getting increased. So for this fix, I think it's better not to create styles.

[2018-01-13 05:18] AAkira commented on #55
@konifar
Ok, I follow your opinion 👍

But, I think textSize and textColor should be set by TextAppearance.
I look forward to discuss about this in Droid Kaigi. 😄

[2018-01-13 05:22] konifar opened #77 "Create styles.xml & themes.xml guideline"
## Overview (Required)
We need to use `styles.xml` and `themes.xml` more effectively.
It would be great to create the guideline/policy.

[2018-01-13 05:23] konifar commented on #55
@AAkira Good! I created issue just now.
https://github.com/DroidKaigi/conference-app-2018/issues/77

I'll try to create the draft guideline for it. I would be happy if you join the discussion. Thanks!

[2018-01-13 05:57] YusukeIwaki commented on #61
I want to contribute to this issue 🙆‍♂️

[2018-01-13 06:16] #51 closed

[2018-01-13 06:18] #69 closed

[2018-01-13 06:18] #73 closed

[2018-01-13 06:23] takahirom commented on #77
According to the rough policy so far, based on the dense script of Material Design, we created a TextAppearance, adapt it, and specify a place that does not fit in View xml.
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/values/text_apperance.xml#L3

[2018-01-13 06:26] takahirom commented on #77
For some views, I create styles for commonalize.
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/values/styles.xml

[2018-01-13 06:29] takahirom commented on #77
If you have any idea of improvement, Please tell me 🙏

[2018-01-13 06:33] konifar commented on #77
will create the draft!

[2018-01-13 06:44] #55 closed

[2018-01-13 06:49] kumamotone commented on #58
🙋‍♂️

[2018-01-13 06:50] konifar commented on #58
@kumamotone Thanks! Assigned! 👍  Feel free to ask us when you have any questions.

[2018-01-13 06:55] rei-m commented on #71
🙋‍♂️

[2018-01-13 06:58] takahirom commented on #71
@rei-m Thanks! I assigned! 👍

[2018-01-13 07:13] kawmra commented on #75
🙋

[2018-01-13 07:15] takahirom commented on #75
@kawmra Thanks! Assigned 👍

[2018-01-13 07:21] konifar opened #87 "Sessions are not shown"
## Overview (Required)
I'm not sure this is bug or not 🤔
But on my device, the sessions are not shown for the first time.

## Screenshot
<img src="https://user-images.githubusercontent.com/1269214/34903856-5f9d2efc-f87d-11e7-8650-67d51f6d554c.jpg" width="300">

[2018-01-13 07:22] takahirom commented on #87
😭

[2018-01-13 07:24] konifar opened #88 "[Assigned] Search icon in the bottom sheet is clipped."
## Overview (Required)
The right side of the inactive search icon is broken.

<img width="443" alt="20180113_162316_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34903893-216cc5ce-f87e-11e7-9bd0-f0a621c52ddf.png">

[2018-01-13 07:28] konifar opened #90 "[Assigned] Toolbar text should be center vertical"
## Overview (Required)
Toolbar text seems to be a little above the center :eyes:

<img width="446" alt="20180113_162629_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34903913-9d14da22-f87e-11e7-842d-29744157fad1.png">

[2018-01-13 07:31] konifar opened #91 "Update fabric version"
## Overview (Required)
Title says everything.
https://github.com/DroidKaigi/conference-app-2018/blob/master/build.gradle#L18

[2018-01-13 07:31] kumamotone commented on #58
Thank you! I created https://github.com/DroidKaigi/conference-app-2018/pull/89.
If something wrong, please feel free to tell 🙇

[2018-01-13 07:56] #87 closed

[2018-01-13 08:03] konifar opened #94 "[Assigned] topic_total_session should be plurals text"
## Overview (Required)
This text should be plural. so it's better to use `<plurals>` tag.

[code]

https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/values/strings.xml#L59

[2018-01-13 08:13] #58 closed

[2018-01-13 08:13] konifar opened #95 "[Assigned] Add loading view on sessions page"
## Overview (Required)
It takes time to load sessions. I think it's better to show loading view on sessions page during loading.

[2018-01-13 08:16] konifar opened #96 "[Assigned]Add pretty animation for the favorite button"
## Overview (Required)
I want pretty animation of the favorite button on the sessions page and session detail page 😄
Like twitter or something.
It's good chance to try to use AnimatedVectorDrawable.

## Links
-

## Screenshot
<img src="" width="300" />

[2018-01-13 08:17] KoutaMatsushita commented on #94
🙋

[2018-01-13 08:18] konifar opened #98 "[Assigned]Add padding on the bottom text in the session detail"
## Overview (Required)
I think it's better to add `4dp` padding here.

<img src="https://user-images.githubusercontent.com/1269214/34904263-bccf51ce-f885-11e7-8bd1-188bdcd03d87.png" width="300">

[2018-01-13 08:20] konifar commented on #94
@KoutaMatsushita Thanks! I assigned you!

[2018-01-13 08:21] konifar opened #99 "[Assigned]The description area in the sessions page is cut off."
## Overview (Required)
<img width="507" alt="20180113_171913_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34904274-fc2d5956-f885-11e7-8035-db744e3857e3.png">

[2018-01-13 08:22] #71 closed

[2018-01-13 08:22] konifar opened #100 "[Assigned] Add ripple effect on the topic search row."
## Overview (Required)
Title says everything 😉

<img width="444" alt="20180113_172228_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34904290-5f835fb4-f886-11e7-9942-19c7e3527242.png">

[2018-01-13 08:25] konifar opened #101 "[Assigned] Highlight the searched text"
## Overview (Required)
It's better to make  the searched text highlight / bold-styledwhen we search the sessions by text.

<img width="400" alt="20180113_172454_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34904316-c680541a-f886-11e7-8a1e-95183de53c88.png">

[2018-01-13 08:27] konifar opened #102 "[Assigned] Add ripple effect on the user search row."
## Overview (Required)
Title says everything 😉

<img width="400" alt="20180113_172659_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34904326-fe83f7ea-f886-11e7-8937-2bba8d6aff66.png">

[2018-01-13 08:28] takahirom commented on #101
I think this is duplicated issue
But your image is very good.👍
So I close following issue
https://github.com/DroidKaigi/conference-app-2018/issues/18

[2018-01-13 08:28] #18 closed

[2018-01-13 08:29] konifar opened #103 "Session card title is cut off in the session search"
## Overview (Required)
baseline issue? 🤔

<img width="400" alt="20180113_172807_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34904337-411617be-f887-11e7-9c0e-4078eb0c8688.png">

[2018-01-13 08:30] konifar commented on #101
Oh, sorry! I missed it 🙇  Thanks for arranging!

[2018-01-13 09:06] kaelaela commented on #14
🙋

[2018-01-13 09:06] kawmra commented on #75
@takahirom @konifar

https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/layout/fragment_all_sessions.xml#L25
In this layout, corresponding TextView has `tools:text` attribution with hardcoded string `DAY 1`.

May I fix this issue same way?

[2018-01-13 09:08] konifar commented on #14
@kaelaela Thanks for tackling this tough task! I assigned you! Feel free to ask us if you have any questions.

[2018-01-13 09:08] takahirom commented on #14
👏

[2018-01-13 09:18] konifar opened #107 "[Assigned] Add retry button on the snackbar"
## Overview (Required)
https://github.com/DroidKaigi/conference-app-2018/pull/104#discussion_r161367945

## Links
-

## Screenshot
<img src="" width="300" />

[2018-01-13 09:35] takahirom commented on #14
@kaelaela I invited you to Zeplin Project 🎨

[2018-01-13 10:09] kaelaela commented on #14
@takahirom Thx ;-) I confirmed it. 👍

[2018-01-13 10:19] takahirom opened #110 "[Assigned] Kotlinize build.gradle"
## Overview (Required)
- We can use build.gradle.kts instead of build.gradle
- I think Kotlin is great. So we should use it 👍

## Links
- https://kotlinlang.org/docs/reference/using-gradle.html

[2018-01-13 10:40] konifar opened #111 "Refactor gradle dependencies"
## Overview (Required)
I prefer creating the versions file and use the variables like this.
https://github.com/konifar/material-cat/blob/introduce_dagger/versions.gradle
https://github.com/konifar/material-cat/blob/introduce_dagger/app/build.gradle#L120

I think it's good way if we'll divide our app to some modules.
What do you think?

[2018-01-13 10:41] #94 closed

[2018-01-13 10:46] konifar commented on #111
Or this might be better way?
https://github.com/googlesamples/android-architecture-components/blob/master/versions.gradle

[2018-01-13 10:50] konifar opened #113 "Introduce gradle-versions-plugin"
## Overview (Required)
To introduce the latest library version, I'd like to introduce this gradle plugin.
https://github.com/ben-manes/gradle-versions-plugin

We can check the latest library version like this.

[code]

[2018-01-13 11:05] sho5nn commented on #100
👀

[2018-01-13 11:05] konifar commented on #100
@sho5nn 👍  Assigned!

[2018-01-13 11:13] neonankiti commented on #12
@takahirom
Is that enough to implement this as follows?
https://developers.google.com/android/guides/opensource

[2018-01-13 11:15] konifar commented on #12
@neonankiti Cool. Actually I didn't know the plugin.
Can you put the screenshot of the output page?

[2018-01-13 11:26] #91 closed

[2018-01-13 11:29] sho5nn commented on #100
Also occurred in speaker search row.

![screenshot_1515842080](https://user-images.githubusercontent.com/6926816/34905590-6bdc5a04-f89f-11e7-89f8-77c264626abb.png)

[2018-01-13 11:29] konifar commented on #75
@kawmra yea, I'd like to. but is there any way to use replacement strings like `DAY%d` for `tools:text`?

[2018-01-13 11:31] konifar commented on #100
@sho5nn Right! Actually I reported it as another issue https://github.com/DroidKaigi/conference-app-2018/issues/102 .
If you can tackle this too, please assign yourself to #102 too 🙏

[2018-01-13 11:52] #102 closed

[2018-01-13 11:58] #100 closed

[2018-01-13 12:06] neonankiti commented on #12
These are the ones!!
<img src="https://user-images.githubusercontent.com/6552589/34905889-f7083848-f816-11e7-80b2-0253bd247c92.png" width="300"> <img src="https://user-images.githubusercontent.com/6552589/34905888-f6f0dc0c-f816-11e7-8c59-950f904f00f6.png" width="300">

[2018-01-13 12:11] takahirom commented on #12
I want to use it. But .. This app has some imported code. Do you think about it? 🤔
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/common/view/EllipsizingTextView.java
https://github.com/DroidKaigi/conference-app-2018/blob/69d8b4282558822281a9a128f20902b88af5219d/app/src/main/java/io/github/droidkaigi/confsched2018/pre

[2018-01-13 12:19] e10dokup commented on #98
🙋

[2018-01-13 12:19] takahirom commented on #12
I noticed. Currently This app not using EllipsizingTextView. 🤔

[2018-01-13 12:20] konifar commented on #98
Thanks!! Assinged you!

[2018-01-13 12:27] neonankiti commented on #12
@takahirom
Actually, I'm not familiar with licenses, so we need to make sure if there is one who can clarify it.
But from the references that I read, it looks like alright because we already include the license in the view(screenshot) above. (Both Apache v2.0)

http://vividcode.hatenablog.com/entry/license/android-app-with-apache-license-2.0
http://android-apps.at-virtual.com/android/apache-licenc

[2018-01-13 12:33] shanonim commented on #99
Can I try this? 🙋

[2018-01-13 12:35] konifar commented on #99
@shaninim Sure! Thanks!
@takahirom Can you share Zeplin to him?

[2018-01-13 12:35] takahirom commented on #99
🙆

[2018-01-13 12:36] takahirom commented on #99
@shanonim Could you tell me an email address on twitter direct message?

[2018-01-13 12:37] shanonim commented on #99
@takahirom I sent message. Thanks!

[2018-01-13 12:38] neonankiti commented on #96
@yuki2478 give us some animation, okapi〜. or is it?

[2018-01-13 12:47] konifar commented on #95
Sure! Thanks for tackling!

[2018-01-13 12:49] takahirom commented on #12
I rethink.
Probably we are open source, so we don't have to write the license. And we write on README.
But we want to show that for Reference.
I think it is ok to use Google Play Services License Screen. What do you think?

[2018-01-13 12:49] katsutomu commented on #95
🙇

[2018-01-13 12:49] #98 closed

[2018-01-13 12:51] konifar commented on #12
Let's try to use Google Play Services License Screen!

[2018-01-13 12:59] neonankiti commented on #12
Btw, where is it supposed to be put in?
I couldn't find it out in design.
The left task is only the transition.
Can you guys please let me know where it is?
I'll handle it right after knowing it.

[2018-01-13 13:00] takahirom commented on #12
I think it is probably in "about screen".

[2018-01-13 13:02] konifar commented on #12
Yes, it's enough to put the link into `AboutFragment`.
@neonankiti Can you create the simple link in the fragment?

[2018-01-13 13:04] shanonim commented on #99
I checked this issue but It seems ok 🤔  (Device: Nexus5X, Android8.0)
Should I check other pages?
Please tell me the detail, Thanks! @konifar

<img src="https://user-images.githubusercontent.com/5153307/34906250-03b4c4d0-f8ad-11e7-9f96-b8fb0c383f5b.png" width=400>

[2018-01-13 13:08] takahirom commented on #7
I think it is ended

[2018-01-13 13:09] #7 closed

[2018-01-13 13:10] konifar commented on #99
Hmm, it happens on my device 🤔
Android 5.1
Zenfone2

[2018-01-13 13:14] takahirom opened #120 "[Assigned]Delete unused EllipsizingTextView"
## Overview (Required)
- Currently, DroidKaigi app doesn't use EllipsizingTextView.
- So we should delete it.
- Please delete file and README.md mention

[2018-01-13 13:16] konifar commented on #99
It might be linespacing issue in the `TextAppearance`.

[code]

[2018-01-13 13:21] takahirom commented on #99
Is it this? https://material.io/guidelines/style/typography.html#typography-line-height
Probably it is defined, but I don't know it's dp size. 🤔

[2018-01-13 13:22] takahirom commented on #99
Sorry probably my misunderstanding

[2018-01-13 13:24] konifar commented on #99
It's specified text size as `sp` but it contains own line-spacing. I'm not sure it's the result for this though.

[2018-01-13 13:24] shanonim commented on #99
I reproduced it on 5.5inch screen size device (Android 5.1.1) 👍

<img src="https://user-images.githubusercontent.com/5153307/34906404-6307b6a6-f8b0-11e7-8ef8-5a2e4e8f211f.png" width=400>

[2018-01-13 13:38] Pluu commented on #120
🙋

[2018-01-13 13:40] takahirom commented on #120
@Pluu Thanks 👍Assigned!

[2018-01-13 13:54] konifar commented on #120
@Pluu Hi again!! I'm so glad you'll contribute! Thanks 👍

[2018-01-13 14:06] Pluu commented on #120
@konifar Thank you!! I was waiting for the DroidKaigi app Repository to be opened.

[2018-01-13 14:09] #120 closed

[2018-01-13 14:15] kawmra commented on #75
@konifar
I think `DAY 1` is just for placeholder in layout editor.
Actual value like 'DAY%d' seems to be generated in https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/sessions/RoomSessionsFragment.kt#L108 .
so I think this issue will be resolved to change attribution `android:text` to `tools:text`.

how do you think abo

[2018-01-13 14:18] konifar commented on #75
Ah sorry. I misunderstood your comment!
Yes, you are right!

[2018-01-13 14:23] Pluu commented on #40
@futabooo  Since the link above is limited to Japanese, I also want an English version for overseas. Or how about adding English description?

[2018-01-13 14:23] kawmra commented on #75
sorry for my ambiguous comment 🙏

[2018-01-13 14:26] #99 closed

[2018-01-13 14:57] #75 closed

[2018-01-13 15:16] #113 closed

[2018-01-13 15:19] sho5nn commented on #65
I think that this is a good function to growth up UX. :)

[2018-01-13 15:38] Pluu commented on #107
🙋

[2018-01-13 15:39] konifar commented on #107
Thanks! Assigned

[2018-01-13 15:39] futabooo commented on #40
@Pluu I'm sorry I didn't make it clear enough.
I think this feature call the GooglForm API on sessionfeedback screen.
How about implementing separating Japanese and English by display in conference application?

[2018-01-13 15:57] Pluu commented on #40
@futabooo No Problem.
Anything is OK. I think that "DroidKaigi Committee" also wants feedback other than Japan.

[2018-01-13 16:19] konifar commented on #40
@Pluu @futabooo Thanks for great feedback!
Actually we'll add English texts on the same link as well as DroidKaigi 2017.
so it's okay to use the same url 😉

[2018-01-13 17:19] takahirom opened #140 "[Assigned] Apply HorizontalSessionItem design"
## Overview (Required)
- It is not applied design
## Screenshot
| Current | Design|
|---|---|
| ![image](https://user-images.githubusercontent.com/1386930/34908346-4121ad1e-f8d1-11e7-8085-547aef7b4430.png) | ![image](https://user-images.githubusercontent.com/1386930/34908341-279c8e72-f8d1-11e7-848c-1e05cb0c248a.png) |

[2018-01-13 17:26] takahirom opened #141 "[Assigned] If session finished, we should show survey layout"
## Overview (Required)
- We want to that user send survey(セッションアンケート)

## Links
- https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a48b9d495b92da5abf337bd
(If you raised hand, I invite you)

## Screenshot
Design screenshot(Caution: Zeplin text size is not designed)
<img src="https://user-images.githubusercontent.com/1386930/34908376-f2e768cc-f8d1-11e7-982b-75242d5cf179.png" width="30

[2018-01-13 17:34] takahirom opened #142 "Apply my session session item design"
## Overview (Required)
- It is like this. If you can, please use SpeechSessionItem.

## Link
 - https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a524f524b1b770508d53830
(If you raised hand, I invite you 👍 )

## Screenshot
Design screenshot(Caution: Zeplin text size is not designed)
![image](https://user-images.githubusercontent.com/1386930/34908447-0d9294fc-f8d3-11e7-9072-efae09406f2

[2018-01-13 17:36] #107 closed

[2018-01-13 18:23] kawmra commented on #140
I wanna contribute 🙋

[2018-01-13 18:24] konifar commented on #140
@kawmra Thanks! Assigned!

[2018-01-13 20:25] beta1139 commented on #90
I want to contribute to this issue :ok_woman:

[2018-01-13 23:31] #61 closed

[2018-01-13 23:46] miga9 commented on #64
🙋‍♂️ !

[2018-01-13 23:47] konifar commented on #64
@miga9 Thanks! I assigned you 👍

[2018-01-14 01:36] Yuiki commented on #142
🙋(Could you invite me to the zeplin project?)

[2018-01-14 01:48] konifar commented on #142
@Yuiki Thanks! I sent the invitation mail to your mail address which is registered in GitHub bio.

[2018-01-14 01:53] Yuiki commented on #142
@konifar Thank you for your invitation. I confirmed it!

[2018-01-14 02:19] #88 closed

[2018-01-14 02:49] konifar opened #148 "[Assigned]Modify speaker search layout"
## Overview (Required)
<img width="612" alt="20180114_114707_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34912292-034fab08-f921-11e7-8087-976f6f943f19.png">

## Links
Sorry, we don't have the design data 🙇

[2018-01-14 02:54] konifar opened #149 "[Assigned] Fix the back button behavior in the speaker detail"
## Overview (Required)
When I tap the back button in the speaker detail page, the sessions list page is shown.
But I think it should be speaker search page.

<img width="300" alt="20180114_115250_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34912305-78b305ca-f921-11e7-81f0-b4afa2831503.png">

↓

Actual | Should be
:--: | :--:
<img width="300" alt="20180114_115340_asus z00ad"

[2018-01-14 02:59] konifar opened #150 "Modify search result margin"
## Overview (Required)
According to the design, the margin size in the search result page is too small.

<img width="500" alt="20180114_115643_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34912329-44004c9c-f922-11e7-8957-a9081665058f.png">

## Links
- https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a48b9e4032d092320fa2f44

[2018-01-14 03:15] konifar opened #151 "[Assigned] Update firebase and rxjava version"
## Overview (Required)
We should follow the latest version 😉

[2018-01-14 03:17] konifar opened #152 "[Assigned] Remove unused color resources"
## Overview (Required)
Make our resources clean.

[code]

[2018-01-14 03:19] konifar opened #153 "[Assigned] Delete ConstraintLayoutExt.kt"
## Overview (Required)
It seems not be used.

[2018-01-14 03:27] yyyske3 commented on #151
🙋

[2018-01-14 03:27] konifar opened #154 "[Assigned]Collapse header in the sessions by topic page"
## Overview (Required)
I think this area should be collapsed with animation when we scroll up.
Can anyone implement by using CollapsingToolbar and AppBar?

<img width="400" alt="20180114_122534_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34912487-54a4e9f0-f926-11e7-8ec8-079a61a9942a.png">

[2018-01-14 03:29] konifar commented on #151
@yyyske3 Thanks! Assigned. I would be happy if you'll check the simple test 🙏

[2018-01-14 03:34] konifar opened #156 "Kotlin coding style guide?"
## Overview (Required)
Currently we don't have any coding style guide.
Is it necessary for this project?
Can anyone create the draft to make discussion effective?

## Link
- https://github.com/raywenderlich/kotlin-style-guide

[2018-01-14 03:34] #90 closed

[2018-01-14 03:39] #153 closed

[2018-01-14 03:42] #95 closed

[2018-01-14 03:49] takahirom commented on #156
We already applied Android Kotlin Style Guide by KtLint.
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/build.gradle#L177
https://android.github.io/kotlin-guides/style.html

But, some expression is not caught up by KtLint.
And some sentence, I don't keep to the regulations
Like this.

[code]

So we should apply that rule.

If it is not enough, I think that it is better to define

[2018-01-14 03:51] konifar commented on #156
I think KtLint is enough 👍  Thanks!

[2018-01-14 04:38] MihoSasaki commented on #148
🙋

[2018-01-14 04:39] takahirom commented on #148
@MihoSasaki Thank you 👍 Assigned!

[2018-01-14 04:39] MihoSasaki commented on #148
I modified like the below layout. Would it be fine?
<img width="368" alt="2018-01-14 13 30 21" src="https://user-images.githubusercontent.com/15154826/34912893-4d251132-f930-11e7-86b1-bea1d91ed87a.png">

[2018-01-14 04:40] takahirom commented on #148
@konifar What do you think?

[2018-01-14 04:43] konifar commented on #148
Thanks! I think it's better to make the top and bottom margin larger.
Can you change them to 16dp? 🙇

[2018-01-14 04:48] takahirom opened #163 "Add line wrap 100 characters to codeStyleSettings.xml"
## Overview (Required)
- Currently, line wrap is not working.

[2018-01-14 04:59] t-kashima commented on #154
🙋

[2018-01-14 05:03] takahirom commented on #154
@t-kashima Thank you 👍 Assigned

[2018-01-14 05:04] #148 closed

[2018-01-14 05:17] #149 closed

[2018-01-14 06:10] ytRino commented on #163
I noticed Java code style has `Ensure right margin not exceeded`, that enforces columns in line, but kotlin code style does not.
![image](https://user-images.githubusercontent.com/1487505/34913225-b630de86-f93a-11e7-986a-0a3a8f07dcf5.png)

Also I found that when `Ensure right margin not exceeded` is checked, codeStyleSettings generate `<option name="WRAP_LONG_LINES" value="true" />` for java block

[2018-01-14 06:28] jnikd commented on #152
🙋

[2018-01-14 07:50] #154 closed

[2018-01-14 08:01] #150 closed

[2018-01-14 08:03] konifar opened #172 "[Assigned] Remove the margin in the item layout"
## Overview (Required)
I think the item layout should not have `margin`.
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/layout/item_speech_session.xml#L31

The spacing between the items should be specified by `ItemDecoration`.

Caution: This layout is used in some places.

[2018-01-14 08:32] #152 closed

[2018-01-14 08:51] konifar commented on #56
FYI
https://github.com/DroidKaigi/conference-app-2017/blob/1231fd2d3cef97a2181f72627f30692bf1815d45/app/src/main/java/io/github/droidkaigi/confsched2017/view/fragment/SessionDetailFragment.java#L74

[2018-01-14 10:04] #140 closed

[2018-01-14 11:51] #151 closed

[2018-01-14 12:03] amay077 opened #180 "[Assigned]SessionDetailFragment contents area is feel narrow"
## Overview (Required)

In session detail screen,
I hope session header collapse when scroll to bottom (like a [droidkaigi2017 apps](https://github.com/DroidKaigi/conference-app-2017)).
So I think we should apply ``CoordinatorLayout`` to ``SessionDetailFragment``.

Do you have any plan or design?

## Links
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a5b4b2d998a44940dcba2d5?ref=s

[2018-01-14 12:14] konifar commented on #180
Sorry, we have any interaction design here.
I guess this is intentional. The header area (like the title and the user name) contains most important information to judge whether the user join the session. These data and the heart button should not be hidden.

But I know your idea too. The scroll area is too small!!
I'll follow the designer. What do you think? @yuki2478

[2018-01-14 12:24] konifar commented on #180
@amay077 I asked to the designer and he has the same idea of yours 😄
Thanks for good issue!

[2018-01-14 12:27] amay077 commented on #180
@konifar I understand and change title. 👍

[2018-01-14 12:31] konifar opened #181 "[Assigned]Don't fix the bottom area in the session detail page"
## Overview (Required)
According to the designer @yuki2478 , the bottom area on the session detail page should not be fixed.
This area should be in the bottom of ScrollView.

<img width="400" alt="20180114_212911_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34915921-35cfb680-f972-11e7-9215-6fb8909c9bf9.png">

[2018-01-14 12:36] Taishi-Y commented on #172
🙋‍♂️

[2018-01-14 12:37] konifar commented on #172
@Taishi-Y Thanks! Assigned you 😉

[2018-01-14 13:00] YusukeIwaki commented on #180
Also, it would be better to apply a theme to the header (ConstraintLayout or AppBarLayout) of SessionDetailFragment.
Currently all of the TextView in the header have the black text color by default, and are set to white manually... 😅
Applying `@style/ThemeOverlay.AppCompat.Dark.ActionBar` would solve it.

[2018-01-14 13:03] konifar commented on #180
Absolutely!

[2018-01-14 13:26] #163 closed

[2018-01-14 13:32] takahirom opened #183 "[Assigned] Kotlin plugin crash"
## Overview (Required)
- I saw Kotlin plugin crash
- And it is not only me.
- https://twitter.com/kkagurazaka/status/952458068482146304

[code]

[code]

## Screenshot
![image](https://user-images.githubusercontent.com/1386930/34916372-d76c5dd8-f97a-11e7-82ae-6bc3aa80c151.png)

[2018-01-14 14:05] #16 closed

[2018-01-14 15:29] #172 closed

[2018-01-14 15:37] rmakiyama commented on #181
I want to try🙌

[2018-01-14 15:44] takahirom commented on #181
@rmakiyama Thanks! 👍 Assigned 🙌

[2018-01-14 15:53] takahirom commented on #60
🙌

[2018-01-14 16:04] MihoSasaki commented on #141
🙋

[2018-01-14 16:06] konifar commented on #141
@MihoSasaki Thanks! Assigned you.
Can you access Zeplin file? If not, please tell me your email on [DM](https://twitter.com/konifar). I'll send the invitation.

[2018-01-14 16:34] jmatsu commented on #141
@MihoSasaki
Sent an invitation. Could you please check?

If you have any questions, feel free to ask us. 🥇

[2018-01-14 18:28] keima commented on #56
@takahirom

Unfortunately, We cannot change recents text color to white unless change background color (#FBC812).

I'll provide 2 workaround:

1. Use TaskDescription color to contrast ratio 3:1 (e.g. #B88E0F )

<img src="https://user-images.githubusercontent.com/867470/34919209-d7ea8c12-f9a2-11e7-98c7-11900124ec3c.png" width="400" />

pros: Generality
cons: Murky color compared to primary color, M

[2018-01-14 18:30] konifar commented on #56
Voted the first one 🙋‍♂️

[2018-01-14 18:44] mhidaka commented on #181
Great works! 🥇

[2018-01-14 18:44] #181 closed

[2018-01-14 18:47] mhidaka commented on #101
@syarihu Thank you for your quick work!

[2018-01-14 18:47] #101 closed

[2018-01-14 19:14] shiraji commented on #183
I had the same issue with `SessionDetailActivity`. It seems Kotlin plugin cannot resolve `Session.SpeechSession` in view binding class. If I replace those variables with primitives(boolean, string, etc), the error gone.

I'm not sure we should replace those variables or not...

[2018-01-14 21:57] neonankiti commented on #27
It's including License. I'll pick this up.

[2018-01-14 21:57] neonankiti commented on #27
@takahirom Plz let me access the Zeplin.

[2018-01-14 22:08] kgmyshin commented on #183
@takahirom Hi, Unfortunately I found fix this issue by discarding multi-platform 😢
Please confirm you whether fixed by this too and decide discarding multi-platform.

https://github.com/DroidKaigi/conference-app-2018/pull/191

[2018-01-14 23:38] takahirom commented on #27
@neonankiti Invited! Thanks 👍

[2018-01-15 00:37] panpanini commented on #34
I'll try to implement this!

[2018-01-15 00:39] konifar commented on #34
@panpanini Thanks! Assigned!

[2018-01-15 01:52] e10dokup commented on #70
🙋

[2018-01-15 01:55] konifar commented on #70
Thanks! Assigned 👍

[2018-01-15 02:15] eyedol commented on #13
I'm interested in this. If it's not taken, I'm happy to take it.

[2018-01-15 02:17] konifar commented on #13
Thanks! You contributed last year, right?
I'm so glad you'll contribute again! 😄

[2018-01-15 02:19] eyedol commented on #13
Yes, I contributed last year and attended the conference too. Though this year I won't be able to make it to the conference.

[2018-01-15 02:40] thagikura opened #193 "Show a language (Ja/En) tag to each session"
## Overview (Required)
- It's helpful to show a language tag (Ja/En) for each session.
I think showing it on both the list screen and the detailed screen is useful.

[2018-01-15 02:43] thagikura opened #194 "[Assigned] Show the speaker detail when the icon is clicked"
## Overview (Required)
- I think showing a speaker bio is helpful when the icon of the speaker is clicked to know more about the speaker.

[2018-01-15 03:03] keima commented on #193
Note: Language category has **3** types: Japanese, English, and Mixed(Contains Japanese and English presentation at same session)

[2018-01-15 03:33] konifar commented on #193
@thagikura Thanks for creating the issue!
We had discussed this and decided not to show the language tag in app.
Because all the session's language are synced with the language of its description, we thought it doesn't need to show the language tag on the screen.

As @keima said there is `mixed language` session,  but actually there is only one. so we decided we do not support it on the app.

Let

[2018-01-15 03:34] #193 closed

[2018-01-15 03:44] MihoSasaki commented on #141
Now I can open Zeplin file! Thanks:)

[2018-01-15 04:00] kaelaela commented on #14
@takahirom @konifar Is this Github user's bio ?🤔
<img width="721" alt="screen shot 2018-01-15 at 12 32 55" src="https://user-images.githubusercontent.com/3871115/34926561-a9d4277e-f9f3-11e7-8ace-8e133bed588b.png">

[2018-01-15 04:02] konifar commented on #14
@kaelaela Maybe so. I'm not sure the data is included in API response though 🙇
If we can not get the bio, it's okay to implement it with the name simple line.

[2018-01-15 04:07] d-date commented on #66
As you discussed under #191, I think we should avoid adopt kotlin for iOS.
If you adopt swift for your iOS app, many iOS engineers can help you.

When you decide to use Swift, please add file as below from Firebase console.

- GoogleService-info.plist

[2018-01-15 04:12] kaelaela commented on #14
@konifar [Contributors API](https://developer.github.com/v3/repos/#list-contributors) response has no bio content. 😢 Sorry, I will implement only name. 🙇  Thx.

[2018-01-15 04:12] konifar commented on #66
Thanks for comment your opinion! yea, I know what you mean.
As you may know, this is fun issue inspired from https://github.com/JetBrains/kotlinconf-app
We don't have any plan to create the iOS-app officially for now, but your idea that add `GoogleService-info.plist` and publish to many iOS engineers! 🍎

Let me ask to other members! Thanks 😄

[2018-01-15 04:13] konifar commented on #14
Sure sure. It's okay!

[2018-01-15 05:08] thagikura opened #196 "[Assigned]Observed a crash. IllegalArgumentException in SpeakersSummaryLayout"
## Overview (Required)

Observed a crash.
Sorry I don't remember what operation I was performing, but pasted the relevant message from Logcat.

[code]

[2018-01-15 05:09] konifar commented on #196
Thanks for reporting!

[2018-01-15 05:32] thagikura commented on #193
Fair enough. Thanks for the clarification!

[2018-01-15 06:23] atsuya046 commented on #8
I want to try 🙋‍♂️

[2018-01-15 06:28] konifar commented on #8
🆒  Thanks! Assigned and send the invitation to see Zeplin!

[2018-01-15 11:15] androhi commented on #196
Hello. I want to try to fix this issue.

[2018-01-15 11:26] takahirom commented on #196
@androhi Thanks! 👍 Assigned

[2018-01-15 11:27] androhi commented on #196
Thanks!

[2018-01-15 14:25] Pluu commented on #111
Personally, `material-cat` seems to be good.

[2018-01-15 14:42] jmatsu commented on #111
Both ways seem to be fine with me. How about you, @takahirom?

[2018-01-15 15:35] konifar opened #202 "[Assigned] Use DeployGate gradle plugin"
## Overview (Required)
currently we are using a simple curl command, but it would be better to use this official plugin.
https://github.com/DroidKaigi/conference-app-2018/blob/69d8b4282558822281a9a128f20902b88af5219d/deploy.sh

https://docs.deploygate.com/docs/gradle-plugin

[2018-01-15 16:36] katsutomu commented on #110
Can I try this issue? 🙋

[2018-01-15 16:39] konifar commented on #110
Thanks! You are braver 😄

[2018-01-15 16:46] katsutomu commented on #110
Thank you! I'll give it a try. 🙇

[2018-01-15 18:27] #14 closed

[2018-01-16 00:31] kgmyshin commented on #183
@takahirom @konifar

our discassion summary of #191

- not remove common-modules but change to model-module
- discard multi-platform and make simple jar

I created pull-request ( #208 ) following above policy. pls review 🙏

[2018-01-16 00:48] punchdrunker commented on #66
Anyone interesting in Kotlin/Native for iOS? Raise your hands please :raised_hands:

[2018-01-16 01:12] kikuchy commented on #66
🙌

[2018-01-16 01:27] HaSuzuki commented on #180
I wanna try this!!

[2018-01-16 01:29] konifar commented on #180
Thanks! Assigned.
I'll send the invitation to access Zeplin. Can you tell me your email onDM?
twitter.com/konifar

[2018-01-16 01:45] HaSuzuki commented on #180
sent a DM!!

[2018-01-16 01:47] takahirom commented on #66
@kikuchy
Thanks! We have a problem with kotlin-mutli-platform.
https://github.com/DroidKaigi/conference-app-2018/issues/183
So, Probably we will discard multiplatform.
But you can clone and create it! And We will link in README.
If that's okay I'll assign it

[2018-01-16 02:13] kikuchy commented on #66
All right.
We need Android app mainly!

Thank you very much!
I'll clone this repository, create "ios" directory into root and start making iOS app.
(Is this right that you are imagine?)

[2018-01-16 02:23] takahirom commented on #66
@kikuchy
Yes! It is as I imagined!

[2018-01-16 03:00] #183 closed

[2018-01-16 03:24] yagi2 opened #212 "[Assigned] StatusBar color on Contributor screen is different from other screens"
## Overview (Required)
StatusBar color on Contributer screen is not primary dark color. This is defferent from other screens.
I'm confirming this phenomenon with the Pixel2 emulator(API 24) and Nexus 5X(API 27).

## Screenshot
|Contributor screen|Session detail screen|
|---|---|
|<img src="https://user-images.githubusercontent.com/2609073/34970396-93e8c626-fab7-11e7-99ed-5eb77b3862da.png" width="3

[2018-01-16 03:28] kaelaela commented on #212
@yagi2 Thank you for reporting. 🙆

[2018-01-16 04:00] KensukeIzumi commented on #212
I'll do this one!

[2018-01-16 04:02] konifar commented on #212
@KensukeIzumi Thanks! Assigned!

[2018-01-16 04:08] takahirom commented on #212
Probably we should use DrawerLayout. That has status bar color.

[2018-01-16 04:22] jmatsu opened #215 "[Assigned]Remove custom namespace of each binding adapter definitions"
## Overview (Required)
- I got the following warnings:

[code]

- AFAIK, custom namespace `bind` will be ignored, so we don't need to write it.
- This doesn't have any impact on applications though, warnings are noisy. 🔕

## Links
- https://android.googlesource.com/platform/frameworks/data-binding/+/1331801%5E!/

[2018-01-16 04:25] KensukeIzumi commented on #212
Thanks, I'll try that.

[2018-01-16 04:36] furusin commented on #194
🙋

[2018-01-16 05:52] satsukies commented on #215
🙋

[2018-01-16 05:56] YusukeIwaki commented on #96
I want to try this issue if no one already assigned

[2018-01-16 05:57] takahirom commented on #215
@satsukies Thanks 👍 Assigned

[2018-01-16 06:00] takahirom commented on #96
@YusukeIwaki Thanks! 👍 Assigned
I am looking forward to animation ❤️

[2018-01-16 10:35] #212 closed

[2018-01-16 10:36] furusin commented on #194
[help wanted]
Do we need a link to a speaker detail View from sessions list view and search view?
In my opinion, we just need a link from session detail view.

[2018-01-16 10:52] mhidaka commented on #194
👀

[2018-01-16 10:55] konifar commented on #194
I think it's better to add the link as you said.
But I remember some sessions have several speakers. We have to consider how to handle them when the user tap the icons view.

[2018-01-16 12:04] numa08 commented on #67
🕺 Could I try this issue ?

[2018-01-16 12:05] konifar commented on #67
Sure 👍

[2018-01-16 12:14] takahirom commented on #111
I think this project almost single module.
What did you do for? 🤔

[2018-01-16 12:15] konifar commented on #111
Yes, actually it's not required task. It's just my taste 😉

[2018-01-16 12:23] takahirom commented on #111
I agree to refactor for reference. 👍
There is no strong opinion about this refactoring.
Can I change the version number with a single line change in the material-cat method?
Should we modify each line?

[code]

[2018-01-16 12:26] konifar opened #220 "Title in contributor page should be center horizontal"
## Overview (Required)
This should be centerized.

<img width="445" alt="20180116_212409_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34988925-d8b82818-fb03-11e7-97c7-14778275b6ae.png">

[2018-01-16 12:34] konifar opened #221 "Add swipe to refresh in Contributors page."
## Overview (Required)
Title says everything 😉

[2018-01-16 12:38] konifar opened #222 "[Assigned]Add margin in the searched page."
## Overview (Required)
Sync design.

Actual | Design
:--: | :--:
<img width="557" alt="20180116_213643_asus z00ad" src="https://user-images.githubusercontent.com/1269214/34989332-7dece1a6-fb05-11e7-9327-bb7f3b97fc88.png"> | <img width="366" alt="20180116_213820_ _ _ _rich - droidkaigi 2018 - zeplin" src="https://user-images.githubusercontent.com/1269214/34989358-958f510e-fb05-11e7-9520-b318a6ee476

[2018-01-16 12:49] takahirom opened #223 "[Assigned] Contributor screen flashes on redisplay"
## Overview (Required)
- Title says everything
- Probably Groupie Item equals() returns false or not call super constructor with id.

[2018-01-16 12:56] e10dokup commented on #70
@takahirom @konifar Can I get Zeplin's invitation?

[2018-01-16 12:57] konifar commented on #70
@e10dokup Sure! Sent invitation to your email address which is registered in GitHub!

[2018-01-16 12:58] konifar opened #224 "[Assigned] Add App Shortcuts"
## Overview (Required)
This is just fun task.
How about showing MySessions tab from app shortcut?

## Links
- https://developer.android.com/guide/topics/ui/shortcuts.html

[2018-01-16 12:59] e10dokup commented on #70
@konifar Thanks! I confirmed Zeplin's screens!

[2018-01-16 13:09] konifar opened #225 "[Assigned] Introduce GoogleAnalytics"
## Overview (Required)
- Introduce GoogleAnalytics
- Measure each screen views and click event count in the sponsors screen

[2018-01-16 13:15] konifar opened #226 "[Assigned] Hide keyboard when the tab change from search tab"
## Overview (Required)
How to reproduce:

1. Go to Search tab
2.. Search by text
3. Change tab

![first](https://user-images.githubusercontent.com/1269214/34990755-96045d0a-fb0a-11e7-817f-fdf07a629436.gif)

[2018-01-16 13:29] nappannda commented on #222
🙋‍♂️

[2018-01-16 13:32] takahirom commented on #222
@nappannda Thanks! Assigned 👍 And Invited to Zeplin!

[2018-01-16 13:40] konifar opened #229 "[Assigned] Specify version code and version name"
## Overview (Required)
Use major, minor, patch for version code.
Like `0.1.0`, `1.0.0`.
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/build.gradle#L17

## Links
- This is example https://github.com/konifar/material-cat/blob/introduce_dagger/app/build.gradle#L30
- If you have better idea, we're always welcome!

[2018-01-16 13:54] ycrack commented on #220
🙋‍♂️

[2018-01-16 13:57] #72 closed

[2018-01-16 14:08] #196 closed

[2018-01-16 14:46] from-unknown commented on #226
Let me try! 🙌

[2018-01-16 14:47] takahirom commented on #226
@from-unknown Thanks! Assigned! 👍

[2018-01-16 14:57] tebasakyu commented on #224
🙌
I hope challenge this. OK?

[2018-01-16 15:01] k-kagurazaka commented on #223
I want to try this issue 🙋

[2018-01-16 15:02] takahirom commented on #223
@k-kagurazaka
Thanks! Assigned! 👍

[2018-01-16 15:03] #221 closed

[2018-01-16 15:04] #222 closed

[2018-01-16 15:04] kitwtnb commented on #229
✋

[2018-01-16 15:06] konifar commented on #229
Thanks! Assigned 👍

[2018-01-16 15:06] konifar commented on #224
Sure sure!  Thanks! 😄

[2018-01-16 15:07] konifar commented on #220
Thanks! Assigned 😉

[2018-01-16 15:14] konifar commented on #156
Okay, this is unnecessary for now 😉
Let me close!

[2018-01-16 15:14] #156 closed

[2018-01-16 15:16] #229 closed

[2018-01-16 15:31] #223 closed

[2018-01-16 15:38] takahirom opened #242 "[Assigned] Adaptive Icon"
## Overview (Required)
- DroidKaigi icon is oreo. So if we can, create Adaptive Icon

## Links
- https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html

[2018-01-16 15:44] konifar commented on #242
Interesting 👍  Do we have any resources?

[2018-01-16 16:07] #111 closed

[2018-01-16 16:41] konifar opened #243 "[Assigned] Optimize ic_launcher icon size."
## Overview (Required)
Almost of drawables are vector-drawable.
but ic_launcher.png is png and it should be optimized.
ImageOptim might be help you. https://imageoptim.com/mac

[2018-01-16 17:03] Pluu commented on #63
Report the test results.

## Configurate

- com.android.support:support-emoji:27.0.2

[code]

## Test Device

- Android 4.4.2 (Kitkat)

##  Preview

- Title : android.support.text.emoji.widget.EmojiTextView
- Description : android.support.text.emoji.widget.EmojiTextView

Session List | Session Detail
-- | --
<img src="https://user-images.githubusercontent.com/1534926/35001000-297c461a-fb29-11e7-9c

[2018-01-16 17:15] takahirom opened #245 "[Assigned] Feed screen title overlap when collapse"
## Overview (Required)
- Title says everything

## Links
- Probably we can see Google I/O Implementation https://github.com/google/iosched/blob/e4364eec0d8f358215aee30cce2b4836ec169b5a/lib/src/main/java/com/google/samples/apps/iosched/feed/FeedViewHolder.java

## Screenshot
<img src="https://user-images.githubusercontent.com/1386930/35002050-b94111de-fb2b-11e7-8e8c-0d5a0143d8bc.gif" width="300" />

[2018-01-16 17:40] kazkn commented on #243
🙋‍♂️

[2018-01-16 17:45] sho5nn commented on #65
@takahirom @konifar OK, I know #199, I hit on a good idea. Scroll to current session when reselected BottomNavigationView, How about ?

[2018-01-16 21:22] konifar commented on #243
Thanks! Assigned 👍

[2018-01-16 21:25] sckm commented on #245
I want to try this

[2018-01-16 21:30] #215 closed

[2018-01-16 21:32] konifar commented on #245
🆒  Assigned you!

[2018-01-16 22:06] konifar opened #250 "[Assigned] SpeechSessionItem and DateSessionsSection should not have Fragment"
## Overview (Required)
This is simple refactoring task.
`SpeechSessionItem` and `DateSessionsSection` should not have Fragment but it seems to be never used.

[2018-01-17 00:20] furusin commented on #194
i appreciate your cooperation.
Some sessions have several speakers like this : https://droidkaigi.jp/2018/timetable?session=15984 .
so I'll try to improve SpeakersSummaryLayout at first.

[2018-01-17 00:21] konifar commented on #194
@furusin 🆒

[2018-01-17 00:50] konifar commented on #65
@sho5nn Genius 💡

[2018-01-17 01:10] takasfz commented on #250
🙋‍♂️

[2018-01-17 01:11] konifar commented on #250
Thanks! Assigned 👍

[2018-01-17 01:12] takahirom opened #251 "[Assigned] The layout at empty is displayed for a moment at the transition to the my session screen."
## Overview (Required)
- Despite I registered several My Sessions, the layout when there is no My Session for a moment is displayed.

[2018-01-17 01:21] takahirom commented on #56
I voted the first one. 👍

[2018-01-17 01:22] takahirom commented on #56
I will ask @yuki2478

[2018-01-17 02:05] Pluu commented on #63
:raising_hand:

[2018-01-17 02:06] konifar commented on #63
@Pluu Thanks! Assigned

[2018-01-17 02:07] takahirom commented on #63
@PluuI wanted to implement, but I have not done it yet, so I will hand it over to you. 👍

[2018-01-17 02:10] punchdrunker commented on #56
:one:

[2018-01-17 03:25] atsuko-fukui commented on #251
🙋

[2018-01-17 03:26] konifar commented on #251
Thanks! Assigned 👍

[2018-01-17 03:31] konifar commented on #242
This is also helpful.  (Sorry, this is written in Japanese 🙇 )
https://qiita.com/takahirom/items/696fb5ecaa230fa8f755

[2018-01-17 03:33] punchdrunker commented on #66
We started developing iOS app by Kotlin/Native here.
https://github.com/kikuchy/DroidKaigi2018iOS
Welcome to contribute!

[2018-01-17 03:43] konifar commented on #250
Maybe so. Sorry I can't check it soon 🙇
Please go ahead. We can review the fix by PR review and CI!

[2018-01-17 04:34] #34 closed

[2018-01-17 05:32] keima commented on #56
Thanks for voting!
I'll try this by plan 1 tonight (JST), but I'm ready to try another decision designer @yuki2478 thinking.

[2018-01-17 09:05] atsuko-fukui commented on #251
As @takahirom - san said the phrase _for a moment_, it seems like network issue because favorite database uses Firestore.

Here is my suggestion:
1. Change visibility of `layout when there is no My Session` (mysessionInactiveGroup) to `gone`
2. Show `ProgressBar` until get favorite sessions (same behavior as session fragment)
3. Set appropriate visibility to mysessionInactiveGroup

What do you thi

[2018-01-17 09:06] konifar commented on #251
👀

[2018-01-17 09:10] takahirom commented on #251
I think it is perfect 💯

[2018-01-17 10:35] atsuko-fukui commented on #251
Thanks, I'll send pull request later 😎

[2018-01-17 11:02] MihoSasaki commented on #141
@jmatsu @konifar @takahirom
I have questions 🙋

- logic of showing questionnaire component
Is it ok to compare with current time and session’s endTime of session model to define whether to show questionnaire component?

- after tapped ‘Go To Questionnaire’ view
 I’d like to know what expect to happen after tapped ‘Go To Questionnaire’ textview. 
Is there any Link of each questionnaire page provide

[2018-01-17 11:15] konifar commented on #141
I think it's okay. FYI, please consider timezone when you get the current time. This PR would help you.
https://github.com/DroidKaigi/conference-app-2018/pull/246#discussion_r161901591

Currently there is nothing to show. Please add just comment for now 🙇

[2018-01-17 11:17] #243 closed

[2018-01-17 11:18] #250 closed

[2018-01-17 11:23] konifar opened #256 "Support RTL"
## Overview (Required)
-

## Links
-

## Screenshot
<img src="" width="300" />

[2018-01-17 12:01] katsutomu commented on #110
@konifar
Good evening! ! !

I'm sorry. I will give up on this issue 🙇
I tried to map versions.gradle, but I could not do it.

please, remove assign... 🙇

[2018-01-17 12:45] takahirom commented on #110
@katsutomu Thank you for challenging 👍 I am waiting for your next challenge.

[2018-01-17 12:49] konifar commented on #110
Thanks! Good challenge!

[2018-01-17 13:12] takahirom opened #258 "[Assigned] Comment Android Lint error to pull request"
## Overview (Required)
- Currently, droidkaigibot(Danger) comment by KtLint. But bot does not comment by Android Lint.
- I think Android Lint **warnigs** is buggy with Kotlin. So I don't want to comment it.  But Android Lint **errors** is sometimes useful and we do not use `abortOnError = false`. So we should keep it.

- Please comment Android Lint Error to pull request 🙇

[2018-01-17 13:50] yatatsu commented on #258
Hi, I hope to challenge this! 🙋

[2018-01-17 13:56] takahirom commented on #258
@yatatsu Thanks! Assigned 👍

[2018-01-17 14:53] #245 closed

[2018-01-17 15:04] mhidaka commented on #242
we're back!

icon image is ready 🎉
 * https://drive.google.com/drive/folders/1CP0LIYqIHnpiUQrCXzUKRnGgyo6xrbRQ?usp=sharing
 * includes foreground and background image.

demo of the adaptive icon. we waiting for your contribution
![adaptive-icon](https://user-images.githubusercontent.com/322019/35049138-663db76e-fbe2-11e7-8a1e-853a03e5c3b7.gif)

[2018-01-17 15:43] tebasakyu commented on #224
Sorry, please one day more 🙇

[2018-01-17 16:00] #258 closed

[2018-01-17 16:08] shikajiro commented on #110
May I challenge this issue?

[2018-01-17 16:09] jmatsu commented on #110
Yes, please!

[2018-01-17 16:09] takahirom commented on #110
@shikajiro
Thanks! Assigned!

[2018-01-17 16:09] shikajiro commented on #110
(๑•̀ㅂ•́)و✧

[2018-01-17 18:05] chigichan24 commented on #242
if no one assigned, i hope to challenge this issue 🙋

[2018-01-17 18:19] takahirom commented on #242
@chigichan24 Thanks👍Assigned!

[2018-01-17 20:43] #56 closed

[2018-01-17 21:27] #202 closed

[2018-01-17 22:49] #242 closed

[2018-01-17 23:14] takahirom opened #271 "[Assinged] Fix CI Fail"
## Overview (Required)
- Please fix someone 😭

[code]

## Links
- https://circleci.com/gh/DroidKaigi/conference-app-2018/531

[2018-01-18 00:14] #251 closed

[2018-01-18 00:19] Yuiki commented on #271
🙋

[2018-01-18 00:20] takahirom commented on #271
@Yuiki Thank you for your help 👍

[2018-01-18 00:23] takahirom commented on #271
I think we should move it class common to model! 👍
![image](https://user-images.githubusercontent.com/1386930/35074425-24a33c8a-fc31-11e7-8915-96d88f7009fe.png)
![image](https://user-images.githubusercontent.com/1386930/35074431-2dca0230-fc31-11e7-85e0-be8fa4f5899c.png)

[2018-01-18 00:37] #271 closed

[2018-01-18 00:52] #60 closed

[2018-01-18 01:07] takahirom opened #274 "Notification icon filled white"
## Overview (Required)
- We should prepaire notification icon for notification
- Probably we can use 2017 notification icon or session icon🤔
- You can check notification add mysession and change time to droidkaigi day in device setting.

[2018-01-18 01:09] takahirom commented on #274
![screenshot_20180210-100513](https://user-images.githubusercontent.com/1386930/35075630-8e4ecba8-fc37-11e7-9687-87c152109edf.png)

[2018-01-18 01:14] takahirom opened #275 "[Assigned] Show heads up notification when my session starts"
## Overview (Required)
- You can check notification adding mysession and changing time to droidkaigi day in device setting.

[2018-01-18 01:53] kikuchy commented on #66
@takahirom (or someone else...?)

We have some question for Kotlin/Native version.

1. Can we use (Official) launcher icon for (iOS's) home icon?
1. Can we use (copy) `GoogleServices-info.plist` to show Google Maps?
1. Do DroidKaigi org have Apple Developer Account? If not, I'll register Developer Account by my account and publish on AppStore.

[2018-01-18 02:07] #63 closed

[2018-01-18 02:41] takahirom commented on #66
@kikuchy
I talk with @mhidaka and @konifar.
Can we use (Official) launcher icon for (iOS's) home icon?
→ OK 🙆‍♂️
Can we use (copy) GoogleServices-info.plist to show Google Maps?
→ OK 🙆‍♂️
Do DroidKaigi org have Apple Developer Account? If not, I'll register Developer Account by my account and publish on AppStore.
→ We haven’t decided yet but might support iOS app in the future. 👍

[2018-01-18 02:42] geckour commented on #275
Let me try🙋

[2018-01-18 02:43] takahirom commented on #275
@geckour  Thank you for your tring! 👍 Assigned

[2018-01-18 03:12] geckour commented on #275
Plz let me ask some questions...
- Is "my session" meaning favorited sessions?
- Should vibrate when notification has published?

[2018-01-18 03:28] takahirom commented on #275
@geckour

YES!

Please don't use vibrate.
Please use setFullScreenIntent.  I know it is sometimes strange behavior.🙇

[2018-01-18 04:00] geckour commented on #275
@takahirom
I got it! Thanks👍

[2018-01-18 04:01] androhi commented on #225
@konifar I have a question.
We can use Google Analytics via firebase, but do you mean that it wants to introduce Google Analytics for Android?

[2018-01-18 04:13] HaSuzuki commented on #180
I want push permission of the branch plz;

[2018-01-18 04:13] kikuchy commented on #66
Many thanks for your answers! We'll make progress of Kotlin/Native version.

[2018-01-18 04:14] jmatsu commented on #180
Please fork this repository and push the branch to *your* repository.
After that, you can create a Pull request to this repository.

[2018-01-18 04:15] HaSuzuki commented on #180
ok thx!

[2018-01-18 04:44] takahirom opened #277 "[help wanted] Firestore will not return a response after a long time since you started using it."
## Overview (Required)
- We can not use favorite!! 😭
- I can fix it clear app data. So probably, app internal problem.
- I can't fix this by force stop app.
- It occurred release and debug
- If it occurred, FavoriteFirestoreDatabase "Firestore:setupFavoritesDocument" is logged, But "Firestore:setupFavoritesDocument onComplete" is not logged.

https://github.com/DroidKaigi/conference-app-2018/blob/

[2018-01-18 04:44] #9 closed

[2018-01-18 05:21] #274 closed

[2018-01-18 06:38] #96 closed

[2018-01-18 07:08] takahirom commented on #277
Sorry, this issue is occurred by change device time.
I debugging this. So it occurred.
https://github.com/DroidKaigi/conference-app-2018/pull/244

[2018-01-18 08:33] jmatsu opened #282 "Support offline mode for Sponsors"
## Overview (Required)
- The current app doesn't have any tables for Sponsor stuff. So that the sponsor screen cannot show anything if a device is offline when launching the screen.
- It's better to support offline state for the sponsor screen too. Other screens currently supports that, so you can refer them.

## Links
- https://github.com/DroidKaigi/conference-app-2018/pull/176/files#r162103040

[2018-01-18 08:38] jmatsu opened #283 "Improve Chrome custom tab else"
## Overview (Required)

- As you can see, the current app opens a web page by using Chrome custom tabs. But its settings just satisfy minimum requirements.
- So we are welcome improvements. e.g.  Support devices which don't have Chrome, opt-out Chrome tabs...

## Links
- https://github.com/DroidKaigi/conference-app-2018/blob/b4f9293aed2edbd6dfddfb5658334a0c4283513c/app/src/main/java/io/github/droi

[2018-01-18 08:41] #275 closed

[2018-01-18 09:03] takahirom opened #284 "[Assigned]Session detail favorite button is not animated"
## Overview (Required)
- Sessions favorite icons are animated, But Session detail FAB is not animate when tapping it 🤔

[2018-01-18 09:35] takahirom opened #285 "[Assigned] Show progressbar for sponsor list"
## Overview (Required)
- It takes time show sponsor list, So we should show progress bar for Sponsor list
- Please use `ProgressTimeLatch` class

[2018-01-18 09:50] youta1119 commented on #285
can i try it?

[2018-01-18 09:50] konifar commented on #285
Sure! Thanks!

[2018-01-18 09:51] jmatsu commented on #285
I might leave a TextView whose name is `empty`... please delete it if still exists 🙇

[2018-01-18 11:32] punchdrunker opened #287 "[Assigned] wrong margin in session feed on API Level19 emulator"
## Overview (Required)
-  margin or padding for session topic label is apparently broken on api level 19

## Links
-

<img width="300px" src="https://user-images.githubusercontent.com/135589/35096192-9eff5cb8-fc8e-11e7-90a0-c057d90745b6.png" />

[2018-01-18 11:35] punchdrunker opened #288 "[Assigned] wrong margin in session detail screen on API Level19 emulator"
## Overview (Required)
similar to #287

-  margin or padding for session level label and footer textView is apparently broken on api level 19

## Links
-

<img width="300px" src="https://user-images.githubusercontent.com/135589/35096298-05b27f12-fc8f-11e7-8f4b-2a5054ce6e0b.png" />

[2018-01-18 11:49] line6th-PAG commented on #284
i wanna try it

[2018-01-18 12:05] punchdrunker commented on #284
Thanks.

[2018-01-18 12:45] #180 closed

[2018-01-18 13:21] takahirom commented on #282
Does that mean using Architecture Component Room like Architecture in README?

[2018-01-18 13:33] takahirom opened #290 "[Assigned] No margin bottom when session detail is scrolled"
## Overview (Required)
- I think it need 16dp

![screenshot_20180118-223015](https://user-images.githubusercontent.com/1386930/35100469-43881120-fc9f-11e7-8757-1ecbfe865703.png)

[2018-01-18 14:04] hkusu commented on #290
Can I try it?

[2018-01-18 14:06] takahirom commented on #290
@hkusu OK!Assigned👍😀

[2018-01-18 14:30] daisuke-nomura opened #294 "Drawers on screens"
## Overview (Required)
- We can expand Drawer(Layout) on all screens. I feel that's too much.
- What do you think about Drawers except main screen?

## Links
-

[2018-01-18 15:12] #290 closed

[2018-01-18 15:28] #224 closed

[2018-01-18 17:19] from-unknown commented on #226
I figure out how to fix this problem.
I'll make a PR tomorrow night... I mean, tonight 😅

[2018-01-18 22:07] konifar commented on #294
Thanks for creating issue!
Maybe this is intentional. Let me ask to @takahirom 😄

[2018-01-18 22:10] konifar commented on #225
Good point!
I mean Google Analytics, not firebase analytics because it has better feature for now to analysis.  But for this app, the rich analytics tool is not necessary. So both are fine for me!

[2018-01-18 23:34] #285 closed

[2018-01-19 01:16] takahirom commented on #294
Thanks 👍
The first time, I create activity. I faced this problem
https://github.com/DroidKaigi/conference-app-2018/issues/212
So I implement DrawerLayout and NavigationView for all activity.

But probably we can implement no navigation view by only using DrawerLayout.
We should think it 🤔

[2018-01-19 02:26] ogapants commented on #294
Excuse me for cutting in.
When my app was featured on GooglePlay, I was ordered by Google staff to attach Drawer to **all screens**.
In my opinion, it is necessary to follow the order in order to apply material design.
(But detailed document could not be found... 🤔 )
https://material.io/guidelines/patterns/navigation-drawer.html

[2018-01-19 02:42] konifar opened #300 "Useful tools 便利なツール"
Please tell us useful tools for Android, Kotlin, review and others.
知っている便利なツールを集めたらよさそうなので雑にコメントしていってください。日本語でもいいです。

---
### Name

### Description
-
- link

[2018-01-19 02:45] konifar commented on #300
### Name
licecap

### Description
- It makes easy to create gif image from Mac screen.
- https://www.cockos.com/licecap/

[2018-01-19 02:46] keima opened #301 "[Assigned] Adaptive Icon not rendered correctly when mask is not circle"
## Overview (Required)

With great contribution by @mhidaka and @chigichan24 , DroidKaigi app now with Adaptive Icon. Thanks!
By the way, White space is visible at the corners when set change icon style to rounded square mode at launcher app.
<img src="https://user-images.githubusercontent.com/867470/35130925-b55b81e4-fd06-11e7-920e-bc0019ec0dea.png" width="400" />

I suspect that background drawa

[2018-01-19 02:48] takahirom commented on #300
# Name
adb-screenshot.sh

# Description
* I love this script ❤️  It can make image small and copy to clipboard 👍
* https://gist.github.com/hkurokawa/75b44564cc1491b5f4a2

[2018-01-19 02:49] konifar commented on #300
@takahirom I'm also using the script! 😄

[2018-01-19 02:50] mhidaka commented on #301
Welcome to contribute! 😄

[2018-01-19 02:54] mhidaka commented on #300
# Name
Screen to Gif

# Description
 * This app is really convenient for Windows!
 * http://www.screentogif.com/

[2018-01-19 03:01] yuki2478 commented on #300
# Name
ImageOptim

# Description
- Mac only
- Using this will make the capacity of png and jpg lighter.
- https://imageoptim.com/mac

[2018-01-19 03:15] syarihu commented on #300
# Name
Android tool for Mac

# Description
Android tool lets you do common Android designer and developer tasks in one click:

- Take screenshots
- Take screen videos (mp4 and gif)
- and more
- https://github.com/mortenjust/androidtool-mac

[2018-01-19 03:28] konifar commented on #300
え、androidtool-macめっちゃ便利そう

[2018-01-19 03:50] gen0083 commented on #300
## Name

SvgToVectorDrawableConverter.Web

## Description

- Convert SVG file to Vector Drawable
- http://a-student.github.io/SvgToVectorDrawableConverter.Web/

[2018-01-19 03:58] chigichan24 commented on #301
Thank you for your bug report, @keima . Just as you said, the icon should be masked by circle.
 I want to try this issue again🙋

[2018-01-19 04:03] konifar commented on #301
Cool 🆒  I assigned!

[2018-01-19 04:14] applideveloper commented on #300
# Name
GIPHY Capture. The GIF Maker

# Description
GIPHY Capture is the best way to create GIFs on your Mac. This free app is simple, powerful, and easy enough for pretty much anyone.

* https://itunes.apple.com/us/app/giphy-capture-the-gif-maker/id668208984?mt=12

[2018-01-19 04:22] konifar commented on #300
📝 📝 📝

[2018-01-19 04:43] #13 closed

[2018-01-19 04:47] takahirom opened #303 "[Assigned] Link Preference and behavior of settings that use local time"
## Overview (Required)
- Currently, There is only settings screen item. So we adapt it to app behavior ⏲

[2018-01-19 04:52] takahirom opened #304 "[Assined] Link Preference and behavior of settings that use notification"
## Overview (Required)
* Currently, There is only settings screen item. So we adapt it to app behavior :timer_clock:

## Links
-

[2018-01-19 05:09] Gazyu commented on #300
# Name
Android SVG to VectorDrawable

# Description
- SVG file converted to Vector Drawable

http://inloop.github.io/svg2android/

[2018-01-19 05:15] punchdrunker commented on #300
(intelliJ plugin)
---
# Name

find pull request

# Description
- awesome intellij plugin which you can easily find a PR related to current code
- https://github.com/shiraji/find-pull-request

[2018-01-19 05:31] jmatsu commented on #282
@takahirom
Right!

As a concrete example, I guess SessionDataRepository is a good architecture basis. 😄

[2018-01-19 05:32] eneim commented on #294
One question @takahirom : is it a must to have DrawerLayout? Or it is there is to fix #212 ? If there is a way to draw status bar color correctly between Screen, will DrawerLayout is still required?

[2018-01-19 05:35] takahirom commented on #294
@eneim I don't have the solution of #212 without DrawerLayout.

[2018-01-19 05:39] KeithYokoma commented on #300
# Android Asset Studio

https://romannurik.github.io/AndroidAssetStudio/

# Description

This is a set of tools that can be useful to generate assets (e.g. icons for notification, app shortcuts, navigation menu, and SVG animations).

[2018-01-19 06:47] gen0083 commented on #287
It looks like that all of TextView in API 19 have wrong padding (especially bottom).
TextView's size seems not correct in API19.
I don't know how to fix it 🤔

![2018-01-19 15 32 34](https://user-images.githubusercontent.com/7608725/35137755-496a0104-fd2e-11e7-8528-52083c8c4d46.jpg)

left: API19 and right: API21, both on emulator

[2018-01-19 07:10] IsseiAoki commented on #288
Can I try this issue?

[2018-01-19 07:11] IsseiAoki commented on #287
Can I try this issue?

[2018-01-19 07:13] jmatsu commented on #287
Thank you so much! Assigned 👍

[2018-01-19 07:14] jmatsu commented on #288
Appreciate 🎉
Please go ahead!

[2018-01-19 07:15] #141 closed

[2018-01-19 07:21] konifar commented on #300
# Name
android-material-design-icon-generator-plugin

# Description
- This plugin help you to set material design icon to your project.
- Actually this is my first OSS project.
- https://github.com/konifar/android-material-design-icon-generator-plugin

![capture](https://raw.githubusercontent.com/konifar/android-material-design-icon-generator-plugin/master/docs/capture.gif)

[2018-01-19 07:23] miyanqii commented on #300
## Name

jsonschema2pojo

## Description

* Generate Plain Old Java Objects from JSON or JSON-Schema.
* http://www.jsonschema2pojo.org/
* I occasionally convert the output file to Kotlin before using it. I hope to choose Kotlin as the output format🤔
* I think that it is quite from before, so I would like to know if there is something better with this same use🙇

[2018-01-19 07:35] takahirom opened #305 "[Assigned] All sessions are ended"
## Overview (Required)
-
![screenshot_20180119-163505](https://user-images.githubusercontent.com/1386930/35139505-c33be012-fd36-11e7-8edd-5ef49ffb857f.png)

[2018-01-19 07:47] eneim commented on #294
@takahirom just talking about #212, [the following line](https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/values-v21/themes.xml#L5) is the cause of transparent statusBar:

[code]

If you need different color, just change this value.

The reason this attribute is transparent by default is: when new Activity is created using **CoordinatorLayout** OR **DrawerLayout** as

[2018-01-19 08:08] nappannda commented on #305
🤚

[2018-01-19 08:08] konifar commented on #305
THanks! 🙇

[2018-01-19 08:09] ogapants commented on #294
FYI, If you want to solve it programmatically, like this...

[code]

`DrawerMenu.setup`
[code]

[2018-01-19 08:11] takahirom commented on #303
I want to use this 🙋
https://github.com/chibatching/Kotpref

[2018-01-19 08:12] takahirom commented on #304
I want to use this 🙋
https://github.com/chibatching/Kotpref

[2018-01-19 08:13] takahirom commented on #294
@eneim @ogapants Thank you for solutions 👍

[2018-01-19 08:53] chigichan24 commented on #301
I have a question.

I'll resolve this problem extracting background white area. like this.

![fig](https://user-images.githubusercontent.com/7840108/35142284-370221dc-fd41-11e7-8b80-4ec3388ff6e0.png)

But I think this solution is not smart.  If posible, I want to create icon dynamically.
If mask type is circle, apply the icon as until now. If mask type in not circle, apply the icon which uses in l

[2018-01-19 09:18] Pluu opened #307 "[Assigned] android.view.InflateException: Binary XML file line #199: Error inflating class TextView"
## Overview (Required)
- CalligraphyLayoutInflater a crash

### Test Device Configurate

- Android 4.4.2 (API 19)
- Crash Rate : 100%

I could not get all logs.

[code]

[2018-01-19 09:20] takahirom commented on #307
That's by my library 😭
I will fix it 👍

[2018-01-19 09:21] youta1119 commented on #282
can i try it?

[2018-01-19 09:22] takahirom commented on #282
@youta1119 Thanks! 👍 Assigned!

[2018-01-19 09:38] keima commented on #301
@chigichan24
tl;dr: As Nick Butcher's article ( https://medium.com/google-design/designing-adaptive-icons-515af294c783 ), We concern about "keylines".

Okay, so your suggestion is "app is only use adaptive icon if launcher use circle mask. But app use round icon (`legacy` icon) if launcher doesn't use circle", isn't it?
Unfortunately it is not provided as far as I know. Anyway, I think it's troubl

[2018-01-19 09:45] ycrack opened #308 "fragment_settings.xml is missing"
## Overview (Required)
- Build failed because of compilation failed.
- Referenced by:

1. app/build/generated/source/kapt/debug/android/databinding/DataBinderMapper.java
2. app/build/generated/source/kapt/debug/io/github/droidkaigi/confsched2018/databinding/FragmentSettingsBinding.java

Is this occurred in only my environment?

[2018-01-19 09:50] keima commented on #301
Oh, tranparent area on screenshot is not actual.
In adaptive icon, background drawable is opaque (contains no transparent).

[2018-01-19 09:56] beta1139 commented on #300
# Name
Ribbonizer plugin for Android

# Description
- It adds a ribbon to launcher icons.
- We no longer need to create a debug version icon.
- https://github.com/maskarade/gradle-android-ribbonizer-plugin

[2018-01-19 10:02] #308 closed

[2018-01-19 10:03] takahirom commented on #308
Probably this problem is famous. We should rebuild 👍

[2018-01-19 11:00] takahirom commented on #303
If you want to do this you can use Prefs value like this.

[code]

[2018-01-19 11:01] takahirom commented on #304
If you want to do this you can use Prefs value like this. 👍

[code]

[2018-01-19 11:18] takahirom commented on #194
@yuki2478
What do you think about this layout? (Details will be fixed later)
![image](https://user-images.githubusercontent.com/1386930/35148507-ca069d14-fd55-11e7-80cd-69ab8229be96.png)

[2018-01-19 12:44] aya2453 commented on #225
@konifar
you’re trying to introduce GA via FirebaseSDK or Google Analytics Services SDK?
Google recommend the first one.

[2018-01-19 14:21] #305 closed

[2018-01-19 14:35] daisuke-nomura commented on #294
Thanks! I'm glad to read your opinions.
Is there anyone who has an opinion or a better way about Drawer?

My thought is, a screen has a Drawer if there is a hamburger icon.
I don't know the app made by Google that has Drawer without hamburger icon.
But actually I don't understand what is better!

---

ご意見・修正方法等ありがとうございます。
ドロワーについてこうした方がいい！的なご意見をお持ち方がいらしたら是非教えてください。
僕はGoogleのアプリで、画面にドロワーがあるけどハンバーガー

[2018-01-19 14:41] takahirom commented on #294
I think Google Play app detail page or Gmail mail detail page and Google Music music detail page don't have hamburger icon. But It have a Drawer  🤔

[2018-01-19 14:42] koji-1009 commented on #304
Hi! Can I try this issue?

[2018-01-19 14:44] takahirom commented on #304
@koji-1009 Thanks! Assigned 👍 😄

[2018-01-19 14:49] daisuke-nomura commented on #294
:satisfied:

[2018-01-19 14:52] takahirom commented on #294
Is there anyone who has an opinion or a better way about Drawer?
ご意見・修正方法等ありがとうございます。
ドロワーについてこうした方がいい！的なご意見をお持ち方がいらしたら是非教えてください。

🙏

[2018-01-19 15:25] jmatsu commented on #294
The followings are just my opinions.

- This application has no reasons not to allow users go to any screens from any other screens.
- It would might make us easy to avoid bugs due to inconsistency of displayed components.
- DrawerLayout might annoy some of users though, it's a kind of hidden components by default.
- The current activity stack might not be suitable.

In short, it's even okay to ke

[2018-01-19 15:41] aya2453 commented on #225
@konifar
OK! I’ll try it.
I'd like to check results in the firebase console by myself if its' possible, but if not (probably not..), I 'll ask you to do that when I create PR.

[2018-01-19 16:12] takahirom commented on #225
@aya2453 Thank you! 👍 I invited to Debug Firebase Project. Can you open it? 😄

[2018-01-19 16:15] takahirom commented on #225
If you can't find the project, I will send URL!

[2018-01-19 16:15] nukka123 opened #312 "[Assined] Incomplete Implementation of Notification Channel"
## Overview (Required)

#### Deprecated Constructors.
NotificationCompat.Builder(Context context) is deprecated. use NotificationCompat.Builder(Context, String) instead.

####  When there is no notification, the setting of the notification channel does not appear.
I recommend that you execute createNotificationChannel() at the following timing.
* Application > onCreate()
* when received ACTION_LOC

[2018-01-19 16:21] takahirom commented on #312
Is it mean this implementation is not incomplete Implementation? 🤔
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/util/NotificationUtil.kt#L17

[2018-01-19 16:22] aya2453 commented on #225
@takahirom
Sorry but, I don't receive any e-mail 😕
Can you send the url to the email address below?
thanks.
aya.nk.0116@gmail.com

[2018-01-19 16:23] takahirom commented on #225
Probably I sent you 🤔
![image](https://user-images.githubusercontent.com/1386930/35160463-8435e0ee-fd80-11e7-8002-41df8ad5c170.png)

[2018-01-19 16:26] takahirom commented on #225
I will send url! Please wait 🙇

[2018-01-19 16:28] aya2453 commented on #225
I got it!!! thanks!!

[2018-01-19 16:28] takahirom commented on #225
Thanks !! I will Assign 👍

[2018-01-19 16:29] nukka123 commented on #312
Yes!  😁

[2018-01-19 16:36] takahirom commented on #312
Thank you for reporting 👍

[2018-01-19 16:38] #226 closed

[2018-01-19 16:44] adakoda opened #314 "[Assigned] Progress bar in SponsorsFragment doesn't hide by conditions"
## Overview (Required)
How to reproduce:

1. Go to Sponsor view.
2. Progress bar will hide after loading, this is OK.
2. Tap any sponsor image.
3. Tap Back key.
4. Progress bar doesn't hide, this is BUG.

![bug](https://user-images.githubusercontent.com/330223/35161284-0b65bfd8-fd83-11e7-94da-4feba4b66e5e.gif)

[2018-01-19 16:57] #304 closed

[2018-01-19 19:15] nacatl commented on #312
Can I get a permission to try this?

[2018-01-19 19:21] keima commented on #301
@chigichan24
Yes, that's right.

Thank you for taking on it. I changed assignee to chigichan from me.
And assets is available here: https://drive.google.com/file/d/1Jw8vZCtPZTMa5b-CJYwjcKwzbS-u3Cpg/view?usp=sharing
宜しくお願いします。

Note:
Original illustrator file (and round icon created by same illustrator file) has shadow at droid hands.
But svg can't contains vector shadow so VectorDrawable lose shad

[2018-01-19 20:52] ytRino commented on #283
im looking this just open browser when customtabs does not available

[2018-01-19 23:58] #27 closed

[2018-01-19 23:59] #301 closed

[2018-01-20 00:11] nukka123 opened #322 "Session time is incorrect due to Time Zone change."
## Overview (Required)
The reproduction procedure is as follows.

1) Visit Settings app.
1-1) Data & time > Set Time zone to London. (GMT+00:00)
1-2) Perform CLEAR DATA of droidkaigi2018 app.
2) Launch droidkaigi2018 app. (Sessions will be displayed soon.)
3) Finish app. (Back button)
4) Visit Settings app.
4-1) Data & time > Set Time zone to Tokyo. (GMT+09:00)
5) Launch droidkaigi2018 app. (The t

[2018-01-20 00:15] konifar commented on #322
@nukka123 Thanks for creating the issue! 👍

[2018-01-20 00:17] konifar commented on #322
📝 Our session time is managed as JST timezone.
This code would help to fix. https://github.com/DroidKaigi/conference-app-2018/blob/453f5d1d1f5f1d4e60c3cb619cd10beeb037142a/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/sessions/item/SpeechSessionItem.kt#L41

[2018-01-20 00:21] jmatsu commented on #322
Thank you for reporting that! Your investigation looks right. :eyes:

This app is for the specific conference in Japan, so I guess this app should show time based on JST and show timezone expressly. For attendees from abroad,  timezone is one of important information.
Hi falks, what do you think?

[2018-01-20 00:24] neonankiti opened #323 "[Assigned] set correct icons for About Screen."
## Overview (Required)
- icons below are not proper ones. adapt correct ones.

<img src="https://user-images.githubusercontent.com/6552589/35177521-ef2bc46e-fd34-11e7-9b9e-105addd0a8d5.png" width="300">

## Links
- #316
- [Design](https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a5b17ff4d545fa82084b089)
- [Asset](https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a53b2cc3

[2018-01-20 00:40] neonankiti opened #324 "write UnitTest with making sure the equality of intent"
## Overview (Required)
- #316

The links above introduced Implicit transitions for AboutThisApp screen with links like `conference://droidkaigi.co.jp/{screen_name}`

We're on the `debug` build type situation, but when there is a case where the different build types could exist in one device.
The Implicit transition would call both of them unless we change some parts of links.
So I implemented like

[2018-01-20 00:55] chigichan24 commented on #301
Thank you for the BIG help @keima !!!!!!

[2018-01-20 00:58] #12 closed

[2018-01-20 01:33] konifar opened #325 "[Assigned] Resolve warning in AboutThisApps.kt"
## Overview (Required)

<img width="888" alt="conference-app-2018" src="https://user-images.githubusercontent.com/1269214/35178511-4edf7ade-fdcd-11e7-80f4-c150c578df7b.png">

[2018-01-20 01:34] konifar opened #326 "Resolve gradle waning"
## Overview (Required)

<img width="941" alt="conference-app-2018" src="https://user-images.githubusercontent.com/1269214/35178525-85820eee-fdcd-11e7-8758-2b4bbf07fa96.png">

[2018-01-20 01:36] konifar opened #327 "[Assigned] Resolve waning in SessionFeedbakEntity"
## Overview (Required)

<img width="1333" alt="conference-app-2018" src="https://user-images.githubusercontent.com/1269214/35178537-ce87fdec-fdcd-11e7-8723-d8a852821c75.png">

[2018-01-20 01:48] eno314 commented on #325
I want to do it :raised_hand:

[2018-01-20 01:49] konifar commented on #325
Thanks! 👍

[2018-01-20 02:09] #325 closed

[2018-01-20 02:14] takahirom commented on #312
@nacatl Thanks 👍 Assigned!

[2018-01-20 02:33] takahirom opened #329 "[Assigned] Japanese translation for settings screen"
## Overview (Required)
- There is English resource, But Not Japanese resource
- Please add Japanese translation

[2018-01-20 02:40] takahirom opened #330 "[Assigned] Use java.util.Date instead of io.github.droidkaigi.confsched2018.model.Date"
## Overview (Required)
- The first time we want to do kotlin-multi-platform. But Actually, In this project gave up. So we can use Java Date class
- model.Date sometimes occurs confusion

[2018-01-20 02:42] takahirom opened #331 "[Assigned] Create activitymodule package in di package and move it ActivityBuilder and ActivityModule"
## Overview (Required)
- I think there is so many classes
 https://github.com/DroidKaigi/conference-app-2018/tree/master/app/src/main/java/io/github/droidkaigi/confsched2018/di

[2018-01-20 02:50] takahirom opened #332 "[Assigned] Use EmojiTextView for item_feed.xml"
## Overview (Required)
- Title says everything

[2018-01-20 03:01] takahirom opened #333 "[Assigned] FavoriteSessionsFragment shows session description"
## Overview (Required)
- It should like this. but master code is showing session description

![image](https://user-images.githubusercontent.com/1386930/35179233-66e8c1d8-fdd9-11e7-86c5-a87a1b0636ea.png)

[2018-01-20 03:52] takahirom commented on #277
It has occurred when does not change device time 🤔  Reopen... 😭
https://twitter.com/muumuumuumuu/status/954558896667947008

[2018-01-20 04:53] t-kashima commented on #333
🙋

[2018-01-20 04:54] konifar commented on #333
Thanks! Assigned

[2018-01-20 05:13] eno314 commented on #314
I want to do it :raised_hand:

[2018-01-20 05:13] konifar commented on #314
@eno314 Thanks! Assigned 👍

[2018-01-20 05:21] #70 closed

[2018-01-20 06:07] tatsuhama commented on #331
I want to do it

[2018-01-20 06:07] konifar commented on #331
Thanks! Assigned 👍

[2018-01-20 06:20] keima commented on #301
Yeah! Great contribution @chigichan24 ! 👏 👏 👏

[2018-01-20 07:09] #333 closed

[2018-01-20 07:10] #314 closed

[2018-01-20 07:12] #331 closed

[2018-01-20 07:13] #65 closed

[2018-01-20 07:34] hisakioomae commented on #332
:raising_hand:

[2018-01-20 07:35] konifar commented on #332
Thanks! Assigned 👍

[2018-01-20 07:40] hisakioomae commented on #332
Yes! I'll try! :blush:

[2018-01-20 07:40] konifar commented on #332
Looking forward to your PR 😉

[2018-01-20 07:51] t-kashima commented on #330
🙋

[2018-01-20 07:52] konifar commented on #330
Thanks! Assigned 🌞

[2018-01-20 08:16] masaibar commented on #329
🙋

[2018-01-20 08:17] konifar commented on #329
Thanks! Assigned 👍

[2018-01-20 08:33] sho5nn opened #340 "[Assigned] Add unit test for DateSessionsSection."
## Overview (Required)

- as described title
- refs https://github.com/DroidKaigi/conference-app-2018/pull/246#discussion_r161902158

## Links
-

[2018-01-20 09:08] #340 closed

[2018-01-20 09:17] sho5nn opened #343 "[Assigned] Scroll to current session when reselected BottomNavigationView."
## Overview (Required)

- refs https://github.com/DroidKaigi/conference-app-2018/issues/65#issuecomment-358045345

![device-2018-01-20-175553](https://user-images.githubusercontent.com/6926816/35181893-048da2e4-fe0e-11e7-9ad6-5530f0fdf20b.png)

[2018-01-20 09:21] konifar opened #344 "Toolbar title should be vertical-center"
## Overview (Required)
This still happens on my device.
- ASUS Zenfone
- Android 5.1.1

<img width="451" alt="20180120_181927_screenshot_2018-01-20-18-18-41 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35181938-aae16e82-fe0e-11e7-8eb2-be132e32726f.png">

[2018-01-20 09:25] konifar opened #346 "[Assigned] Add ripple effect in About app page"
## Overview (Required)

<img width="454" alt="20180120_182433_screenshot_2018-01-20-18-18-41 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35181962-35807cae-fe0f-11e7-8b9e-ee8dc5d19522.png">

[2018-01-20 09:29] konifar opened #347 "[Assigned] Add toolbar elevation in sponsors page and contributors page"
## Overview (Required)

<img width="452" alt="20180120_182845_screenshot_2018-01-20-18-27-12 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182010-cffd66c0-fe0f-11e7-9efa-f260149dd49c.png">

Contributors page as well.

[2018-01-20 09:31] konifar opened #348 "[Assinged] Adjust margin in sponsors page"
## Overview (Required)
- Some margins are not aligned with the design.
- Can anyone adjust layout? 🙇

Example
<img width="500" alt="20180120_182957_screenshot_2018-01-20-18-27-12 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182021-278b1b3a-fe10-11e7-839b-5fe5debbabb9.png">

## Links
- [Zeplin](https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a538cc21b7da4b6

[2018-01-20 09:38] konifar opened #349 "[Assigned] Keyboard is shown on the drawer"
## Overview (Required)
When you show keyboard on the search page and tap the drawer icon, the keyboard is not hidden.

<img width="449" alt="20180120_183659_screenshot_2018-01-20-18-36-18 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182056-f4ac37d4-fe10-11e7-8918-84aad8199ee3.png">

[2018-01-20 09:41] konifar opened #350 "[Assigned] Adjust the settings page layout"
## Overview (Required)
I'm not sure we can adjust the preferences page design.
But it's better to adjust padding, fontstyle, ripple effect.

[2018-01-20 09:43] konifar opened #351 "Fast scroll drawable is too small in sessions page"
## Overview (Required)
Is it possible to set `minHeight`? 🤔

<img width="451" alt="20180120_184319_screenshot_2018-01-20-18-42-17 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182111-cdf3efaa-fe11-11e7-9b1f-633aa37bd032.png">

[2018-01-20 09:46] konifar opened #352 "Add tutorial to let users know that they can swipe in session detail page"
## Overview (Required)
User can swipe session detail page to see many sessions quickly.
But it's a little difficult to find the feature.
It would be great to add simple tutorial.

[2018-01-20 09:50] konifar opened #353 "[Assigned] Save tab and scroll position which is shown before."
## Overview (Required)
This is not mandatory feature.
If the user saw `ROOM1`, maybe s/he wants to see the same tab in the next time.

[2018-01-20 09:53] konifar opened #354 "[Assigned] Add network error and retry button in sponsors page"
## Overview (Required)
Title says everything
This has already implemented in the sessions page by using Snackbar.

[2018-01-20 09:54] konifar opened #355 "Add empty view in notification page"
## Overview (Required)

<img width="451" alt="20180120_185221_screenshot_2018-01-20-18-51-50 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182197-46768d74-fe13-11e7-9b24-4ba11d41859b.png">

[2018-01-20 09:56] konifar opened #356 "[Assigned] Bottom margin in My Sessions page is too small"
## Overview (Required)

<img width="581" alt="20180120_185511_screenshot_2018-01-20-18-54-39 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182215-90cd665e-fe13-11e7-9ee1-4ec9eb9f612c.png">

[2018-01-20 09:58] konifar opened #357 "[Assigned] Floating day view is weird in My Sessions page"
## Overview (Required)

<img width="449" alt="20180120_185750_screenshot_2018-01-20-18-56-41 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182222-d55814ae-fe13-11e7-90c4-d27dc1fb3ad4.png">

[2018-01-20 10:01] konifar opened #358 "[Assinged] Adjust sessions item margin"
## Overview (Required)

[Zeplin Design](https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a40dfc71687acd93721052e)

Actual | Design
:--: | :--:
<img width="453" alt="20180120_190017_screenshot_2018-01-20-18-59-07 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182246-3f93593c-fe14-11e7-8c88-db093521f7a9.png"> | <img width="362" alt="20180120_190116_ _ - droidka

[2018-01-20 10:02] from-unknown commented on #349
Another keyboard bug...!
I thought I destroyed.
:raising_hand_man:

[2018-01-20 10:12] konifar opened #359 "Add debug menu"
## Overview (Required)
We are using `Debot` to show debug menu.
https://github.com/DroidKaigi/conference-app-2018/blob/97de15f69bb23c56039df87094ebdd57b8b3a552/app/src/debug/java/io/github/droidkaigi/confsched2018/presentation/DebugApp.kt#L15

Debot supports custom debug menu by implementing `DebotStrategy`.
https://github.com/tomoima525/debot#custom-debugging-plugins

It would be great to create

[2018-01-20 10:16] konifar opened #360 "Active drawer menu color is hard to see"
## Overview (Required)
I don't have any concrete idea but it would be better to improve.

<img width="353" alt="20180120_191549_screenshot_2018-01-20-19-14-38 jpg 1080x1920" src="https://user-images.githubusercontent.com/1269214/35182352-630e8f56-fe16-11e7-9f31-9a0113ec3d05.png">

[2018-01-20 10:17] takahirom opened #361 "When reselect BottomNavigationView scroll to current time session"
## Overview (Required)
- Title says everything

## Links
- https://github.com/DroidKaigi/conference-app-2018/issues/65#issuecomment-358045345

[2018-01-20 10:18] konifar commented on #361
Is this same with https://github.com/DroidKaigi/conference-app-2018/issues/343 ?

[2018-01-20 10:19] #361 closed

[2018-01-20 10:19] takahirom commented on #361
Yes! closed

[2018-01-20 10:21] #332 closed

[2018-01-20 10:26] #329 closed

[2018-01-20 10:37] #283 closed

[2018-01-20 11:01] wabisabi-wasabi commented on #354
🙋

[2018-01-20 11:02] takahirom commented on #354
Thanks 👍 Assigned

[2018-01-20 11:02] yt-tkhs commented on #356
🙋

[2018-01-20 11:03] takahirom commented on #356
Thanks 👍 Assigned

[2018-01-20 11:11] iiinaiii commented on #348
I will try this `:raising_hand`

[2018-01-20 11:13] takahirom commented on #348
Thanks Assigned 👍

[2018-01-20 11:14] nappannda commented on #357
🤚

[2018-01-20 11:14] takahirom commented on #357
Thanks! Assigned 👍

[2018-01-20 11:16] iiinaiii commented on #348
Could you invite me to zeplin project?
kyoumi155@gmail.com

[2018-01-20 11:17] takahirom commented on #348
@iiinaiii Invited 😄

[2018-01-20 11:18] iiinaiii commented on #348
Thanks!!

[2018-01-20 11:45] #357 closed

[2018-01-20 11:51] nappannda commented on #358
🤚

[2018-01-20 11:52] takahirom commented on #358
So Thanks 👍

[2018-01-20 12:50] verno3632 commented on #346
Can I try this issue?

[2018-01-20 12:52] konifar commented on #346
Sure! Thanks!

[2018-01-20 12:55] #358 closed

[2018-01-20 13:18] IsseiAoki commented on #287
It seems that the bug is related to `android:lineSpacingMultiplier` attribute.
If I comment out the corresponding line of the `text_appearance.xml`, it works perfectly.
But I couldn't find the solution that don't comment out the `android:lineSpacingMultiplier` attribute.
Can you give me some advice?

[2018-01-20 13:18] IsseiAoki commented on #288
It seems that the bug is related to `android:lineSpacingMultiplier` attribute.
If I comment out the corresponding line of the `text_appearance.xml`, it works perfectly.
But I couldn't find the solution that don't comment out the `android:lineSpacingMultiplier` attribute.
Can you give me some advice?

[2018-01-20 13:35] nukka123 commented on #322
The first presented code (parseDateString) was not the cause.
I have learned LocalDateTime.
I investigated further.

There seems to be a problem with the implementation concerning LocalDateTime conversion.

1.  About toUnixMills()

[code]

LocalDateTime does not have TimeZone.
Time zone for this LocalDateTime object is implicitly defined by the application.
Because of the above comment, Session ti

[2018-01-20 13:41] adakoda commented on #351
I think so too, but I DON'T HAVE a solution😇

Here is the AOSP repository.
- https://github.com/aosp-mirror/platform_frameworks_support/blob/b6838fd2d2e834fdd38aab34511d385cb7108f63/v7/recyclerview/src/main/java/android/support/v7/widget/FastScroller.java
- https://github.com/aosp-mirror/platform_frameworks_support/blob/b6838fd2d2e834fdd38aab34511d385cb7108f63/v7/recyclerview/src/main/java/android

[2018-01-20 13:43] takahirom commented on #322
Yes !toInt become overflow. We try to use java.util.Date👍
And we shoud remove toInt.
https://github.com/DroidKaigi/conference-app-2018/pull/342

[2018-01-20 14:08] takahirom commented on #322
@nukka123
Thank you for cheching！

How do you think to solve it?

[2018-01-20 14:28] tebasakyu commented on #347
🙋

[2018-01-20 14:28] takahirom commented on #347
Thanks! Assigned 👍

[2018-01-20 14:29] nukka123 commented on #322
@takahirom

I will introduce the code that I was verifying locally.

[code]

[code]

Also, we should write javadoc about the time zone assumed by LocalDateTime.

[2018-01-20 14:33] takahirom commented on #322
@nukka123 Looks super nice! 🥇  If you have time, Can you send PR?

[2018-01-20 14:40] takahirom commented on #287
How about using `android:lineSpacingExtra ` ?
Probably @konifar, @jmatsu are detailed about this.

[2018-01-20 15:23] #330 closed

[2018-01-20 16:13] adakoda opened #368 "Application CRASH on Android 4.4 emulator environment when starting"
## Overview (Required)
- **Application crash**

How to reproduce:
1. Make a following emulator environment by Android Virtual Device Manager.
  - **Nexus 5 API Level 19 (KitKat) x86 Android 4.4 (Google API)** <-- This env is **NG** 💣😇.
2. Launch Application(conference-app-2018).
3. Application will crash when starting.

If I use another emulator environment, it will work fine (no crash), such as

[2018-01-20 16:18] nacatl opened #370 "Crash at MainActivity on kitkat"
## Overview (Required)
- On a device as Kitkat, the app crashes at the time of inflate the item_speech_session.xml with the error message below.
(Generally the error occurs with opening MainActivity...)

[code]
(The last 'ViewGrou' is not miss-paste, this is end. I think because the text is too long to display.)

I think this error is occurred by inserting a vector-drawable resource to a TextView

[2018-01-20 16:19] takahirom commented on #368
Thank you for reporting!
Probably duplicate issue. But information is useful. thanks 👍
https://github.com/DroidKaigi/conference-app-2018/issues/307

[2018-01-20 16:19] #368 closed

[2018-01-20 16:20] takahirom commented on #307
I think it is not library crash 🤔

[2018-01-20 16:22] nacatl commented on #370
I'm sorry...
This is duplicated with #368 and #307 .

In this case, should I close this?

[2018-01-20 16:23] takahirom commented on #370
This information is the best information 💯 Thanks!!

[code]

[2018-01-20 16:23] #370 closed

[2018-01-20 16:24] takahirom commented on #307
[code]

[2018-01-20 16:26] takahirom commented on #307
I think we can use StateListDrawable with BindingAdapter
like this

[code]

[2018-01-20 16:29] takahirom commented on #307
If you have time, please contribute this🙏

[2018-01-20 16:30] nacatl commented on #370
Thank you for reply and correspondence!!

[2018-01-20 16:40] IsseiAoki commented on #287
@takahirom Thank you! I think it's nice!
@konifar @jmatsu What do you think about it?

[2018-01-20 16:42] konifar commented on #287
I know what you mean. Agreed your suggestion to use `lineSpacingExtra`!

[2018-01-20 16:52] IsseiAoki commented on #287
@konifar Thank you so much!! I will use `lineSpacingExtra` !

[2018-01-20 16:57] nukka123 commented on #322
@takahirom

Ok. I send PR! #371

[2018-01-20 16:58] konifar commented on #287
@IsseiAoki Thanks you too! It's too late today, take good care of yourself 😉

[2018-01-20 17:02] takahirom commented on #322
Thanks! 👍

[2018-01-20 17:03] takahirom commented on #322
3.  is already fixed 👍

[2018-01-20 17:34] nappannda commented on #355
🤚

Is it possible to add an empty view of notifications to zeplin?

[2018-01-20 17:40] konifar commented on #355
Sure, I'll ask the designer. Please wait his response for tomorrow (today)
Basically it would be same with My Sessions page's.

[2018-01-20 18:25] #322 closed

[2018-01-20 18:26] rkowase opened #375 "The speaker name will be hidden if its name is long"
## Overview (Required)
![device-2018-01-21-031504](https://user-images.githubusercontent.com/8059722/35186606-e9e55878-fe59-11e7-8157-00321962a9b7.png)

[2018-01-20 18:27] konifar commented on #375
Good catch! 👍

[2018-01-20 18:29] konifar commented on #375
It would not be good to ellipsis speaker's name.
I guess it's better to use autosizing text view 🤔
https://developer.android.com/guide/topics/ui/look-and-feel/autosizing-textview.html

[2018-01-20 20:37] ycrack commented on #323
icons still not have created? I want to try add icons to their blanks.
I found the icons are drawn not PNG but XML. It is little difficult... :( but I want to try!

[2018-01-20 21:26] ycrack commented on #300
# uiautomatorviewer
Analyzing view hierarchy

# Description
- included Android SDK
<img width="1489" alt="2018-01-21 6 25 08" src="https://user-images.githubusercontent.com/26833834/35188142-ddc0c130-fe73-11e7-99a2-2480dc4f5cff.png">

[2018-01-20 21:39] tacksman commented on #375
@konifar
hmmm... It seems like autosizing text view is not reasonable for this problem, caused by if use autosizing, is not recommended "wrap_content" for width and hight.
I think autosizing text is suitable for filling up size specified layout.
How about, if speaker name long, change speaker name text lines single to multi(maybe enough 2 lines)?

[2018-01-20 23:18] konifar commented on #323
@ycrack Thanks! Icons have been added in Zeplin!
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a53b2cc33773142c504b949

I assigned you 👍

[2018-01-20 23:26] konifar commented on #375
@tacksman Thanks for your advice!
I thought the autosizing text view is useful if we fix the textview width.

<img width="443" alt="conference-app-2018" src="https://user-images.githubusercontent.com/1269214/35188965-6fa9cc1c-fe84-11e7-8be3-7accbb5a8f55.png">

Understood. Actually I asked the same thing to the designer @yuki2478 but I remember he said he wanted to it to be single line. What do you

[2018-01-21 00:35] Pluu commented on #307
Test result
[code]
If you delete it, the crash disappears.

[2018-01-21 00:37] konifar commented on #307
@Pluu Thanks! `drawableStart` doesn't support vector drawable. That's the reason?

[2018-01-21 00:58] Pluu commented on #307
@konifar Yes. I think that the cause of the current situation is that.

link : https://qiita.com/konifar/items/bf581b8f23dea7b30f85#2-textviewのandroiddrawableleft

[2018-01-21 01:18] ycrack commented on #323
@konifar Zeplin says:

plz invite...

[2018-01-21 01:19] konifar commented on #323
Sure. Can you tell me your email here or DM (twitter/konifar) ?

[2018-01-21 01:21] ycrack commented on #323
Okay, I'll send you DM.

[2018-01-21 01:39] tacksman commented on #375
@konifar Thanks response!

OK, understood.
Then, how about add 12 ~ 24dp appbar's bottom instead of change lines?

[2018-01-21 01:45] konifar commented on #375
Hmm, in my opinion it's not good in the point of design view point. because this situation is edge case, it's better to keep the layout.

But actually I have no strong opinion. Both idea `autosizing-textview` and `maxlines` are fine for me. @takahirom Which do you prefer? I follow your decision 👍

[2018-01-21 01:47] takahirom commented on #375
When I asked @yuki2478  before, he did not like to autosizing-textview 🤔

[2018-01-21 01:47] konifar commented on #375
Okay, then `maxlines=2` is better?

[2018-01-21 01:50] takahirom commented on #375
Sorry, I don't read discussion yet.
How about taking an extra bottom margin for separating fab?

[2018-01-21 01:55] konifar commented on #375
In my opinion, to spread the bottom margin is not good in the point of design view point because it makes bottom margin too big.

[2018-01-21 02:09] takahirom commented on #375
I want to decide it after checking both design `bottommargin+8dp` and `maxlines=2`. Can you try both and take screenshots if you have a time? :bow: It might be enough to try the first one at first.

[2018-01-21 02:17] tacksman commented on #375
`bottommargin+8dp`
<img src="https://user-images.githubusercontent.com/3090219/35190053-f53123be-fe9b-11e7-9cae-57488e916f75.png" height="50%" width="50%" />

[2018-01-21 02:21] takahirom commented on #375
Thanks. I think it is good for me 👍
Please commit it

[2018-01-21 02:32] #354 closed

[2018-01-21 02:40] tacksman commented on #375
Thanks:+1:
I'll make PR now.

[2018-01-21 03:38] halu5071 commented on #350
I will try on this!

[2018-01-21 03:38] takahirom commented on #350
Thanks! Assigned👍

[2018-01-21 03:38] konifar commented on #350
Thanks!!

[2018-01-21 03:47] takahirom commented on #62
Now, A session icons are ready 👍
If you do this, We invite you to Zeplin 🎨
![image](https://user-images.githubusercontent.com/1386930/35190612-eea2e67e-fea8-11e7-9fc5-559a5540ad63.png)
![image](https://user-images.githubusercontent.com/1386930/35190625-39f35988-fea9-11e7-873c-614348797de1.png)
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a53b2cc33773142c504b949

[2018-01-21 03:59] takahirom commented on #3
Now, A session icons are ready 👍
If you do this, We invite you to Zeplin 🎨 (Please note that Zeplin's font size is not designed.)

[2018-01-21 04:01] eyedol commented on #303
I'll take it. Assign it to me.

[2018-01-21 04:02] takahirom commented on #303
Thanks! Assigned 👍

[2018-01-21 04:27] #350 closed

[2018-01-21 04:33] takahirom opened #383 "[Assigned] Commonize favorite session items and speaker session items"
## Overview (Required)
- We can use simplify variable in SpeechSessionItem, So probably we don't need item_favorite_session.xml and FavoriteSessionItem

[2018-01-21 04:35] shaunkawano opened #384 "Update libraries"
## Overview (Required)

Some of the libraries we depend on have updates. Maybe we update them to the latest version unless there are certain issues or bugs that need to be fixed. (Of course we can totally ignore those updates at all, but you know, )

Here is how I checked those library updates:
<img width="298" alt="2018-01-21 1 16 25" src="https://user-images.githubusercontent.com/920911/35190806

[2018-01-21 04:35] Pluu commented on #307
🙋‍♂️

[2018-01-21 04:37] takahirom commented on #307
@Pluu Thanks 👍 Assigned

[2018-01-21 04:37] shaunkawano commented on #384
If there is no problem, I will update Kotshi as `-beta` seems gone now. :)
- https://github.com/ansman/kotshi/releases/tag/0.3.0

[2018-01-21 04:39] takahirom commented on #384
I want to firebase lower version for using an emulator.
But I think that it is better to update all other things 👍

[2018-01-21 04:41] verno3632 commented on #346
It looks that they have ripple effect already.
Can you check it?

[2018-01-21 04:48] IsseiAoki commented on #287
@takahirom @konifar
I tried `lineSpacingExtra` , but unfortunately it also didn't work.
It seems the result is same as with `lineSpacingMultiplier`.
I'm sorry I can't handle this issue. Please remove assign.:bow:

Issue #288 is also the same.

[2018-01-21 04:53] takahirom commented on #346
Probably it depends on OS 🤔 ?

[2018-01-21 05:00] takahirom commented on #287
@konifar
How about this? 🤔

[code]

values-v21
[code]

[2018-01-21 05:53] kazukinr commented on #327
🙋

[2018-01-21 05:54] takahirom commented on #327
Thanks!Assigned👍

[2018-01-21 05:56] Pluu commented on #307
@takahirom I'm sorry to judge mistakenly as `CalligraphyLayoutInflater`.

[2018-01-21 06:02] #307 closed

[2018-01-21 06:06] #327 closed

[2018-01-21 06:32] satsukies commented on #352
I want to challenge this issue 🙋

I'll plan to implement new animation.
Animation shows round shape move from center to screen edge 😎

[2018-01-21 06:37] takahirom commented on #352
@satsukies
Thanks! Assigned 👍 I am looking forward to animation! 😄

[2018-01-21 07:10] takahirom commented on #287
@IsseiAoki
Sorry If you have energy on this issue, Please try this style. 🙇
If you want to give up, That's all ok 🆗

[2018-01-21 08:02] konifar opened #395 "[Assigned] Save searched words history."
## Overview (Required)
- Title says everything.
- Like Google I/O app, Twitter, or other apps.

[2018-01-21 08:50] #62 closed

[2018-01-21 08:55] citrous commented on #383
🙋

[2018-01-21 08:56] takahirom commented on #383
Thanks 👍 Assigned

[2018-01-21 08:58] konifar opened #397 "[Assigned] Change session difficulty icons to vector drawable"
## Overview (Required)
These icons in this PR.
https://github.com/DroidKaigi/conference-app-2018/pull/396

[2018-01-21 09:26] #323 closed

[2018-01-21 09:33] gen0083 commented on #397
Is there SVG files?
I tried convert png to SVG with <http://www.autotracer.org/> but cannot convert well...

[2018-01-21 09:35] takahirom commented on #397
@gen0083 I invited Zeplin! And you can check icons
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a53b2cc33773142c504b949

[2018-01-21 09:35] takahirom commented on #397
![image](https://user-images.githubusercontent.com/1386930/35192644-e52417f4-fed9-11e7-8905-65580cb6040b.png)

[2018-01-21 09:43] IsseiAoki commented on #287
@takahirom
Sure!!
Thank you for your advise! I want to try it!

[2018-01-21 10:02] #397 closed

[2018-01-21 10:38] bina1204 commented on #343
I want to try it!

[2018-01-21 10:40] takahirom commented on #343
@bina1204
Thanks 👍 This is very user-friendly feature 😄

[2018-01-21 10:54] ycrack opened #402 "[Assigned] We should use app intent rather than chrome custom tab."
## Overview (Required)
- should use Intent instead of WebView

[2018-01-21 11:37] #383 closed

[2018-01-21 11:52] takahirom commented on #346
I think ripple effect for KitKat is not needed.
I think upper social media need ripple effect!

[2018-01-21 12:00] takahirom commented on #402
It means if we go twitter, we should launch twitter?🤔

[2018-01-21 12:04] ycrack commented on #402
🙆‍♂️

[2018-01-21 12:08] neonankiti commented on #344
@konifar
hmmm. Does it only happen in About This page?
or in other pages as well?

[2018-01-21 12:17] neonankiti commented on #344
I just found it in emulator.
It's OS dependency. I'll fix this.

[2018-01-21 13:01] #346 closed

[2018-01-21 13:13] takahirom opened #408 "English translation for map screen"
## Overview (Required)
- Probably we can use this translation
https://droidkaigi.jp/2018/en/

[2018-01-21 13:21] #312 closed

[2018-01-21 13:22] #8 closed

[2018-01-21 13:27] takahirom commented on #402
That is good!

[2018-01-21 13:46] panpanini commented on #408
I'll try this if no one else is interested!

[2018-01-21 13:48] panpanini commented on #359
I'll try this! what type of notifications do we need to show? just the ones about upcoming sessions?

Also, should the debug menu offer input from the user, or just have default text?

[2018-01-21 14:07] #347 closed

[2018-01-21 14:14] #408 closed

[2018-01-21 14:23] daisuke-nomura commented on #294
@jmatsu Good perspective you have! :smile_cat:
@takahirom Keep current Drawers on screens, and make an issue for re-consider activity stack strategy to improve screen transitions?
At last, I guess Google Play detail screen is under the same activity with main screen.

@jmatsu 確かにそのとおりですね。 :smile_cat:
@takahirom 現在の全画面のドロワーはそのままにして、画面遷移改善とActivityスタックについて検討するチケットを作るのはいかがでしょう。
それと、Google Playの詳細画面って

[2018-01-21 14:37] #359 closed

[2018-01-21 14:41] #348 closed

[2018-01-21 14:44] #287 closed

[2018-01-21 14:44] #288 closed

[2018-01-21 14:53] #67 closed

[2018-01-21 14:56] konifar commented on #351
@adakoda Understood. THIS IS ANDROID
Then, let me close this issue for now. Thanks for your detailed explanation!

[2018-01-21 14:56] #351 closed

[2018-01-21 15:01] takahirom commented on #3
I will separate tasks this

[2018-01-21 15:01] #3 closed

[2018-01-21 15:03] takahirom opened #413 "[Assigned] Apply feed(information) tab icons"
## Overview (Required)
- Only use icon in Zeplin
- You can use reference this.
https://github.com/DroidKaigi/conference-app-2018/pull/396
- There is no need to adjust the layout with this issue

## Links
- https://github.com/DroidKaigi/conference-app-2018/pull/396

If you raise hand, we will send Zeplin Invitation to you

- https://scene.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a527bbce2

[2018-01-21 15:20] #303 closed

[2018-01-21 15:34] takahirom opened #414 "[Assigned] Apply feed layout design"
## Overview (Required)
- Please adjust layout(Please note that Zeplin's font size is not designed.Please use `TextStyle.App.Xxxx` styles)

## Links
If you raise hand, we will send Zeplin Invitation to you
- https://scene.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a527bbce212789e8ea30f1d
- icons: https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a53b2cc33773142c504b949
- screen

[2018-01-21 15:40] takahirom opened #415 "[Assigned] If text is short, We should not expand item in FeedFragment"
## Overview (Required)
- We should like this.
![image](https://user-images.githubusercontent.com/1386930/35195849-c2e8254e-ff0c-11e7-956d-bcec5dfcec0b.png)

[2018-01-21 15:42] takahirom opened #416 "[Assigned] FeedFragment item html handling"
## Overview (Required)
- We want to paste the link to post.
- Probably we can open by Chrome custom tab

[2018-01-21 17:51] konifar opened #418 "[Assigned] Introduce google play publisher plugin"
## Overview (Required)
To make the release easy, I want to introduce google play publisher plugin.
https://github.com/Triple-T/gradle-play-publisher#authentication

[2018-01-21 20:09] youten opened #421 "No Map inside buildings"
## Overview (Required)
- I wanna map inside buildings, not to get lost in the venue.

[2018-01-21 22:28] konifar commented on #421
Thanks for your request!
As you may know DroidKaigi prepares a paper map so I'm not sure this is necessary or not.

[2018-01-22 00:17] #418 closed

[2018-01-22 01:32] takahirom opened #422 "[Assigned] Add paging for contributor page"
## Overview (Required)
- Currently, Fortunately over 100 contributors participated. 🎉
- Probably, GitHub API max count is 100 https://developer.github.com/v3/#pagination
- But, we show contributors only 100.
- So, We should add paging

[2018-01-22 03:01] khronos227 commented on #422
I'll try it! 🙋‍♂️

[2018-01-22 03:02] KeithYokoma commented on #422
🎉

[2018-01-22 03:14] konifar commented on #422
Thanks! Assigned!

[2018-01-22 05:51] nacatl commented on #353
Excuse me, I want to confirm the required spec.
I think you said as below. Isn't it?
- Even if the MainActivity is killed(f.g. Swiped out in recent apps), the Activity open with the same tab and the same scroll position when a user reinvokes the app.

[2018-01-22 06:08] konifar commented on #353
@nacatl That's right!

[2018-01-22 06:13] takahirom opened #423 "Needless Toolbar elevation"
## Overview (Required)
- We added toolbar elevation https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/values/styles.xml#L64
- And we adjust elevation here https://github.com/DroidKaigi/conference-app-2018/blob/a805e418ae3a3bdbe34722ed192ffd066168193b/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/MainActivity.kt#L47
- But adjust elevation logic does

[2018-01-22 06:15] takahirom commented on #423
If we can't fix this, I think delete elevation in style

[2018-01-22 06:27] nacatl commented on #353
Thanks.
I think it is better for users that this feature can be ON(restore tab and position)/OFF(open default) by setting.

Can I try this?

[2018-01-22 06:27] konifar commented on #353
Sure sure! Assigned. Thanks!

[2018-01-22 06:33] takahirom commented on #423
Sorry, It occurred only rotate the screen.

[2018-01-22 06:34] takahirom opened #424 "when rotate the screen, toolbar title shows App name"
## Overview (Required)
-
![image](https://user-images.githubusercontent.com/1386930/35208063-b7918d2a-ff89-11e7-9dda-36477cc2c8fc.png)

[2018-01-22 06:43] gen0083 opened #425 "We cannot tap favorite button when scroll-bar is shown beside it"
## Overview (Required)
- Fast scroll drawable intercepts touch event so we cannot tap favorite button

## Reproduce
- add 3 or 4 sessions as favorite
- move to my-session page
- when scroll-bar is shown we cannot tap favorite button

![ezgif-4-2e168e75ec](https://user-images.githubusercontent.com/7608725/35208126-fbff760c-ff89-11e7-822a-ca8b56408d84.gif)

[2018-01-22 07:09] takahirom commented on #424
Probably we can use BottomNavigationView getSelectedItemId? When rotate screen 🤔

[2018-01-22 07:16] takahirom commented on #425
I don't have this solution 😭

[2018-01-22 07:22] takahirom commented on #425
I think we should change 👍  48dp -> 32dp, 40dp -> 24dp
Because contents are more important
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/drawable/shape_fast_scroll_thumb.xml

[2018-01-22 07:47] gen0083 commented on #425
I try to modify 48dp -> 32dp and 40dp -> 24dp but still overlapped a little.
But favorite button of left side is able to tap :)

The problem is not completely solved, should I send PR in this state?

[2018-01-22 07:51] takahirom commented on #425
If you have completely solved solution, Please do that. But I don't have that 😭

[2018-01-22 07:55] gen0083 commented on #425
Ok I'll try a little more 😄

[2018-01-22 08:15] khronos227 opened #428 "[Assigned] Fail unit tests when execute with whole test package"
## Overview (Required)
- As a title, if we execute unit tests with whole test package, it may fail on test of `DateSessionsSectionTest.kt` because of initialization error. (**left** of below)
- But if you run test only `DateSessionsSectionTest.kt`, it will success. (**right** of below)

| whole package test | one file test |
|:---:|:---:|
| <img width="762" alt="app_-_conference-app-2018_-____git_

[2018-01-22 08:16] #424 closed

[2018-01-22 08:16] #423 closed

[2018-01-22 09:41] yt-tkhs commented on #356
I have questions 👀

1. The other pages (i.e. AllSessions and RoomSessions) have small bottom margin, and is it intentional? If it is not intentional, I will fix it in the same PR.

2. I've never seen the design file, but The margins between SessionItems in AllSessions and FavoriteSessions are different, is it intentional? (If this will be fixed, 1's fixes are affected with my implementation.)

[2018-01-22 09:45] konifar commented on #356
Not intentional. We would be happy if you'll fix it 🙇

Not intentional too. BTW, I want to invite you to Zeplin project. Can you tell me your email here or via DM?

[2018-01-22 09:48] sho5nn commented on #349
@from-unknown Thanks! It’s up to you.

[2018-01-22 09:48] konifar commented on #344
@neonankiti Thanks!!

[2018-01-22 09:48] yt-tkhs commented on #356
Thanks for your answer, and I will fix that!
Yes, I want to see Zeplin. 🙇
Email address is this:MASKED

[2018-01-22 09:49] konifar commented on #356
Thanks! Invited you. please check your mail box!

[2018-01-22 09:54] takahirom commented on #425
I appreciate it. 🙇
I agree with using 16dp 👍

[2018-01-22 10:08] ushi3 opened #431 "[Assigned] Layout collapses when collapsing Toolbar in screen Session's detail"
## Overview (Required)
- In session detail screen, collapses up-icon and title content into toolbar when collapse toolbar

It seems that, layout margin inside CollapsingToolbarLayout is affecting

![collapsing_sample](https://user-images.githubusercontent.com/1962232/35215221-ebabab78-ffa6-11e7-8967-61006dddf459.gif)

[2018-01-22 10:12] #425 closed

[2018-01-22 10:23] nukka123 opened #432 "Session time incorrect when "Use local time" is enabled."
## Overview (Required)
The reproduction procedure is as follows.

1. Visit Settings app.
1-1. Data & time > Set Time zone to London. (GMT+00:00)
1-2. Perform CLEAR DATA of droidkaigi2018 app.
2. Launch droidkaigi2018 app. (Sessions will be displayed soon.)
3. droidkaigi2018’s Settings > "Use local time" to enable.
4. Back to AllSessions screen.
   (Session sequence is incorrect.)

step2 ("Use loca

[2018-01-22 11:22] takahirom commented on #432
I think the specification is following.

Use local time
not check -> always starts 10 o'clock
check -> starts 10 o'clock in Japan, but other time zones different time start

現地時間を使う
チェックしない→常に10時から始まる
チェックする→日本なら10時から、別のタイムゾーンではタイムゾーン毎の時間になる

[2018-01-22 11:25] takahirom commented on #432
@nukka123 Thank you for reporting. We are helped by you. 🙇

[2018-01-22 11:44] from-unknown commented on #349
:muscle:

[2018-01-22 11:57] takahirom commented on #432
📝
SpecialSession

[code]

[code]

[code]

[2018-01-22 12:07] takahirom commented on #432
https://github.com/droidkaigi/conference-app-2018/blob/9c045ad14eef92ade7507a660f24156b12d7a110/app/src/main/java/io/github/droidkaigi/confsched2018/util/ext/DateExt.kt#L11-L11

[2018-01-22 12:29] Luecy1 opened #433 "No run windows environment."
## Overview (Required)
I clone this repository,and import project.
An error occurred when "Run 'app'".

But "Clean Project" and "Rebuild Project" is SUCCESSFUL.

Gradle Console

[2018-01-22 12:37] takahirom commented on #433
@Luecy1 Can it fix by using `rebuild`?

[2018-01-22 12:55] koji-1009 commented on #431
🙋

[2018-01-22 12:56] takahirom commented on #431
Thank!!!! Assigned 👍 😄

[2018-01-22 13:07] #432 closed

[2018-01-22 13:08] takahirom opened #435 "When change use current time zone setting, We should restart app"
## Overview (Required)
- Probably we can use [JakeWharton/ProcessPhoenix](https://github.com/JakeWharton/ProcessPhoenix)

[2018-01-22 13:23] noriyuki106 commented on #428
🙋

[2018-01-22 13:25] Luecy1 commented on #433
@takahirom
I'm sorry.
Reboot PC and "Run 'app'" is  BUILD SUCCESSFUL .

[2018-01-22 13:26] konifar commented on #428
Thanks! I assigned 👍

[2018-01-22 13:26] takahirom commented on #433
Thanks!

[2018-01-22 13:26] #433 closed

[2018-01-22 13:36] takahirom commented on #413
Notification types are `tutorial`, `notification`, `alert`, `enquete`

[2018-01-22 13:42] #225 closed

[2018-01-22 13:44] konifar commented on #40
FYI: This is the same page in DroidKaigi2017
https://github.com/DroidKaigi/conference-app-2017/blob/master/app/src/main/java/io/github/droidkaigi/confsched2017/view/fragment/SessionFeedbackFragment.java

[2018-01-22 13:52] sho5nn commented on #413
@takahirom  🙋‍♂️  `m.shogo330@gmail.com`

[2018-01-22 13:53] sho5nn commented on #414
I'll do it.

[2018-01-22 13:56] #431 closed

[2018-01-22 14:09] takahirom opened #439 "Prepare release resources"
## Overview (Required)
- 🎨

## Links
- https://github.com/DroidKaigi/conference-app-2017/issues/405

[2018-01-22 14:21] #356 closed

[2018-01-22 14:22] takahirom opened #441 "[Assigned] Use tools:sample/** resources"
## Overview
- Probably we can use this 👍
![image](https://user-images.githubusercontent.com/1386930/35225224-10357b94-ffcb-11e7-8650-2da8583d3445.png)

## Links
- https://developer.android.com/studio/write/tool-attributes.html#toolssample_resources

[2018-01-22 14:23] takahirom commented on #441
There is no need to adapt to everything. try it.

[2018-01-22 15:01] #428 closed

[2018-01-22 18:01] #415 closed

[2018-01-23 01:35] noriyuki106 opened #447 "[Assigned] Descent of the description area in the sessions page is cut off"
## Overview (Required)
- On my device, descent of the description area in the sessions page is cut off (as shown in the screenshot).
- My device is `arrows M03 (5.0inch, Android 6.0.1)`.
- #99 might be related to this issue

<img src="https://user-images.githubusercontent.com/3776241/35252995-6a5a3eec-0026-11e8-9c07-a2f69b55114b.png" width="320" />

[2018-01-23 01:36] takahirom commented on #447
Thank you for reporting 👍

[2018-01-23 01:38] #194 closed

[2018-01-23 02:03] KeithYokoma opened #449 "[Assigned] Stop opening a speaker profile page from the same speaker profile page."
## Overview (Required)
- Bug: User can open a speaker profile page from the same speaker profile page.
- Desired: Do not open the same profile!

[2018-01-23 02:14] KeithYokoma opened #450 "Add animating speaker icon in ActivityTransition from a session list screen to a session detail screen"
## Overview (Required)
- Adding animating speaker icon in ActivityTransition from a session list screen to a session detail screen would be nice!

[2018-01-23 04:12] e10dokup commented on #450
🙋

[2018-01-23 04:12] takahirom commented on #450
Thanks! Assigned 👍

[2018-01-23 04:39] #422 closed

[2018-01-23 04:41] atsuko-fukui commented on #256
Can I try this?

There is no description but my understanding is:

 - convert `left` / `right` to `start` / `end`
     - e.g.) `layout_constraintLeft_toLeftOf` -> `layout_constraintStart_toStartOf`
 - use lint
    - unfortunately, lint does not find `RtlHardcoded` related with ConstraintLayout 😿
    - just grep for ConstraintLayout

[2018-01-23 04:42] takahirom opened #451 "[Assigned] Show survey button and layout if session finished in Session Detail"
## Overview (Required)
- We should show survey button.
- If you do this, We invite you to Zeplin 🎨 (Please note that Zeplin's font size is not designed.)
https://app.zeplin.io/project.html#pid=5a327a64f0b20176887c556c&sid=5a66b9288218dc236d2581d0&ref=slack
![image](https://user-images.githubusercontent.com/1386930/35258461-04aad814-0043-11e8-9bd2-9d4f87cebc39.png)

[2018-01-23 07:47] hiraok commented on #441
@takahirom Please let me do it！ ✋

[2018-01-23 07:49] takahirom commented on #441
@hiraok Thank you! Another Doraemon!Assigned

[2018-01-23 09:42] konifar commented on #441
Doraemon 🐱

[2018-01-23 11:16] murmurmuk commented on #449
I want to try this.

[2018-01-23 11:20] takahirom commented on #449
@murmurmuk Thanks 👍 Assigned

[2018-01-23 11:35] hiraok commented on #441
@konifar Your Doraemon is very wonderful!

[2018-01-23 11:36] hiraok commented on #441
@takahirom Thank you for assigning!

[2018-01-23 12:39] takahirom opened #454 "[Assigned] Launch google map app when tap address in MapActivity"
## Overview (Required)
- 🗾

## Links
-
![screenshot_20180123-213729](https://user-images.githubusercontent.com/1386930/35276128-a411669c-0085-11e8-8369-7821aad32be0.png)

[2018-01-23 12:59] ronnnnn commented on #454
I'll try this !🙋‍♂️

[2018-01-23 13:03] takahirom commented on #454
@ronnnnn Thanks!Assigned!

[2018-01-23 13:11] nukka123 opened #456 "[Assigned] ClassNotFoundException occurs when the notification time is reached."
## Overview (Required)

The reproduction procedure is as follows.

1. Launch droidkaigi2018 app.
1-2. Enable Favorites for any sessions. (ex. DAY1 / 10:20-10:50)
1-3. Finish  droidkaigi2018 app. (back key)
2. Visit Settings app.
2-1. Data & time >  set to Feb 8, 2018 10:09 (GMT+09:00)
3. Reach at Feb 8, 2018 10:10 (GMT+09:00)
-> ClassNotFoundException occurs

Also, it worked normally when testing

[2018-01-23 13:32] nukka123 commented on #456
Probably related articles.
https://stackoverflow.com/questions/11258537/broadcastreceiver-classnotfound-exception
https://issuetracker.google.com/issues/36914697

[2018-01-23 13:54] #454 closed

[2018-01-23 14:34] takahirom commented on #456
Probably we should pass channel information with `channelType.id` and find it.
https://github.com/DroidKaigi/conference-app-2018/blob/1daf58a4bab56586f13c95a263f9ddc2f040c701/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/common/broadcastreceiver/NotificationBroadcastReceiver.kt#L30

[2018-01-23 14:41] nukka123 commented on #456
@takahirom
I will try it.

[2018-01-23 14:42] takahirom commented on #456
Thanks 👍 Assigned

[2018-01-23 14:55] rkowase opened #460 "Characters are suffering in the "About this App" Screen"
## Overview (Required)
![untitled](https://user-images.githubusercontent.com/8059722/35282320-8a835952-0098-11e8-9ad7-cf4f38af2931.png)

[2018-01-23 14:57] takahirom commented on #460
7.1 not reproduced

[2018-01-23 14:59] takahirom commented on #460
Thank you for reporting🙇
What is your os?

[2018-01-23 15:02] takahirom commented on #456
We are so helped! Are you a firefighter?🔥🚒

[2018-01-23 15:06] rkowase commented on #460
OS: Android 8.1.0

[2018-01-23 15:08] rkowase commented on #460
Sorry, my font size setting was large.

Then I set the font size to default, it's not suffering
![untitled2](https://user-images.githubusercontent.com/8059722/35283076-8a179a9e-009a-11e8-95d5-cfe15ed60e61.png)

[2018-01-23 15:09] #460 closed

[2018-01-23 15:17] takahirom commented on #451
🙋‍♂️

[2018-01-23 15:32] konifar commented on #451
Thanks!

[2018-01-23 16:13] Kesin11 opened #462 "When submit search query, focus is still remain in search view"
## Overview (Required)
When submit query with the search button of the keyboard in the search sessions, focus still remain in the search view.
As a result, keyboard is shown automatically when back from session details.
This behavior looks like a bug.

submit query
![submit_ime_button](https://user-images.githubusercontent.com/1324862/35286420-525dd8e4-00a3-11e8-9a23-d9a75acd3837.png)
⬇️
focus sti

[2018-01-23 16:33] takahirom commented on #462
@Kesin11 If you can, Please do it! 👍

[2018-01-23 23:30] Kesin11 commented on #462
Thank you. I'll do it 👍

[2018-01-24 00:18] #462 closed

[2018-01-24 00:44] takahirom opened #467 "[Assigned] Overlapping speaker and go to questionnaire button"
## Overview (Required)
- When there are two speakers, overlapping.
- You can check this by changing devie setting time

## Links
- ![screenshot_20180209-094131](https://user-images.githubusercontent.com/1386930/35308388-d901d4e4-00ea-11e8-95d7-def07dd3a81a.png)

[2018-01-24 02:57] #451 closed

[2018-01-24 05:02] subroh0508 commented on #467
I want to try it!

[2018-01-24 05:03] konifar commented on #467
Thanks! Assigned! 👍

[2018-01-24 05:36] nakker1218 commented on #447
I'll try it 🙋

[2018-01-24 05:37] konifar commented on #447
Thanks again! Assigned 👍

[2018-01-24 06:01] #467 closed

[2018-01-24 07:06] TomoyaShibata commented on #395
I will try this! 🙋

[2018-01-24 07:07] takahirom commented on #395
Thanks! Assigned 👍

[2018-01-24 12:16] takahirom opened #470 "Update architecture components to 1.1.0"
## Overview (Required)
- We should update now
https://developer.android.com/topic/libraries/architecture/release-notes.html

[2018-01-24 12:39] Kesin11 commented on #277
I did reproduce this issue may be.
In my case, same behaviour occurs when launch app without network connection.

1. Turn off wifi
2. Launch app
3. **Turn on wifi**
4. Touch favorite icon in AllSessionsFragment. Icon is turned on
5. Go to session detail
6. Favorite icon is still turned off

I tried to repeat step 4 to 6 after turned on wifi, it still same result. But after about 1 minutes, it revi

[2018-01-24 13:37] #456 closed

[2018-01-24 13:39] takahirom commented on #277
Thanks! I will try it!

[2018-01-24 13:45] gen0083 opened #471 "Cannot reveal BottomNavigationView when contents is short"
## Overview (Required)
- We cannot reveal BottomNavigationView some situation
- It happens when contents length is between BNV top and bottom
- Or contents length become shorter before BNV hiding

![cannot_reveal_bnv](https://user-images.githubusercontent.com/7608725/35334817-ed94b07c-0156-11e8-9834-b3b2799f0d24.gif)

Reproduce:

1. move to FeedFragment
1. expand all feeds to be able to scroll
1.

[2018-01-24 13:51] konifar commented on #471
Thanks for reporting!

[2018-01-24 14:57] #470 closed

[2018-01-24 15:30] takahirom commented on #277
I reproduced
Probably I think It related offline 🤔

[2018-01-24 15:32] takahirom commented on #277
Here?
https://github.com/droidkaigi/conference-app-2018/blob/642bf75efd688f85f7f810b48944ed52b033f51e/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/App.kt#L42-L42

[2018-01-24 15:33] #449 closed

[2018-01-24 16:32] horie1024 commented on #326
Hi😀
May I solve this?

[2018-01-24 16:35] futabooo commented on #326
Thanks! Assigned 👍

[2018-01-24 19:08] #343 closed

[2018-01-24 22:17] adakoda commented on #351
This problem had already registered in AOSP issue tracker.
The issue is here.
https://issuetracker.google.com/issues/64729576

Please mark it to increase the priority by star!

[2018-01-25 04:54] TomoyaShibata commented on #395
Successfully saved search words and displayed suggestions.
 https://github.com/TomoyaShibata/conference-app-2018/commit/e2c23275836868a2a70e59a4a11ddde69a41f3ac

<img src="https://user-images.githubusercontent.com/2193123/35371337-d9f5aa78-01d6-11e8-8dfb-0225a48bee56.png" width="300" />

But it doesn't match the design of the application. (For example, clock icon)
I challenged to change the `style

[2018-01-25 05:14] STAR-ZERO commented on #300
## Name

Android SDK Search

## Description

* Chrome Extension
* type `ad` + space ... in Omnibox.
* https://chrome.google.com/webstore/detail/android-sdk-search/hgcbffeicehlpmgmnhnkjbjoldkfhoin

![untitled](https://user-images.githubusercontent.com/376376/35371771-76286fa0-01d9-11e8-9406-2b1a68c04e22.gif)

[2018-01-25 05:46] takahirom commented on #395
@TomoyaShibata We can create an issue for that. So we can fix after.
What do you think?

[2018-01-25 05:59] TomoyaShibata commented on #395
@takahirom OK!
I will create a pull request.

[2018-01-25 09:35] #471 closed

[2018-01-25 09:36] #447 closed

[2018-01-25 12:13] nukka123 commented on #277
I try Kesin11’s reproduce procedure.
(env: emulator api27)
After step 6, It seems to be kept waiting for 8 minutes.

(sorry, I am not familiar with Firebase.)

[code]

It may be related.
https://qiita.com/osamu1203/items/23df0b135ed0548ff73b

[2018-01-25 12:41] #395 closed

[2018-01-25 16:44] youten commented on #421
I understand that paper map is enough. I close issue.

[2018-01-25 17:00] mhidaka commented on #421
部屋のマップか。ほしいかもね。

[2018-01-25 17:09] youten commented on #421
載せるとしたらパンフレットと同じものを載せればいいんですかね？

[2018-01-25 17:11] mhidaka commented on #421
I guess, resource files can be prepared. just wait.

[2018-01-26 01:44] kakajika commented on #277
Hello 🙋  First comment on this project!

I think it's a problem about Firestore's behavior when device is regarded as offline.

The official document of Firestore says:

https://firebase.google.com/docs/firestore/manage-data/enable-offline#get_offline_data

So, if the document is empty, `favorites.get()` cause error and return nothing.
We should use `favorites.addSnapshotListener(...)` instead.

[

[2018-01-26 01:50] takahirom commented on #277
Thanks recommend addSnapshotListener 🥇
I worried about calling multiple time the changing listener.
If you can, Please add log here. and Please check setCancellable is called.

[code]

[2018-01-26 01:58] takahirom opened #481 "Apply session detail survey button design"
## Overview (Required)
- This is not applied the design. We should use an orange button.
![image](https://user-images.githubusercontent.com/1386930/35421608-753d2c76-0287-11e8-8c7b-61b6ef6238fd.png)
![image](https://user-images.githubusercontent.com/1386930/35421646-ba60faf8-0287-11e8-869d-1ade002a6476.png)

If you do this, We invite you to Zeplin 🎨 (Please note that Zeplin's font size is not desi

[2018-01-26 02:00] kakajika commented on #277
OK, I've added logs and checked it!

[code]

[2018-01-26 02:03] takahirom commented on #277
Thanks 👍
Please PR!
You are professional for Firestore 👨‍🎓

[2018-01-26 02:09] takahirom opened #482 "[Assigned] Apply about this app medium button design"
## Overview (Required)
Right map icon should become medium icon.
![image](https://user-images.githubusercontent.com/1386930/35421930-456ec5c0-0289-11e8-818f-74dbd03b9080.png)

If you do this, We invite you to Zeplin 🎨 (Please note that Zeplin's font size is not designed.)
https://app.zeplin.io/project/5a327a64f0b20176887c556c/screen/5a53b2cc33773142c504b949
![image](https://user-images.githubuserc

[2018-01-26 02:29] ycrack commented on #482
🙋‍♂️

[2018-01-26 02:31] takahirom commented on #482
@ycrack Thanks! Assigned 👍

[2018-01-26 03:21] #277 closed

[2018-01-26 03:58] #482 closed

[2018-01-26 10:27] #481 closed

[2018-01-26 10:29] takahirom opened #486 "Button should have 2dp corner radius"
## Overview (Required)
- You can check it button in session detail by changing device time
https://material.io/guidelines/components/buttons.html#buttons-style
![screenshot_1516961779](https://user-images.githubusercontent.com/26833834/35435287-7aedc996-02cd-11e8-8228-8de560599601.png)

[2018-01-26 10:44] #441 closed

[2018-01-26 12:21] #486 closed

[2018-01-26 17:00] konifar commented on #64
@miga9 Hi, can you try this?
Sorry for rush but if you don't have time to do, it's okay to remove the assign.
What do you think?

[2018-01-26 17:09] miga9 commented on #64
Hi @konifar, thanks for checking. I was struggling a bit with the target activity having fragment. I hope to have a PR up this weekend.

[2018-01-26 22:02] konifar commented on #64
@miga9 Thank you so much! I appreciate it!

[2018-01-27 03:39] from-unknown commented on #349
I'm almost done...
Probably I will make a PR tomorrow 🙇
One thing I don't understand how it works, so I'm trying to make it clear.

[2018-01-27 06:39] amay077 opened #494 "[Assigned] Adopt "Ignore-Prefix" to search speaker groups"
## Overview (Required)

If first letter of author is "@", I hope ignore it in search speaker groups.

(Do you know well-known name for this feature?)

## Screenshot

<img src="https://user-images.githubusercontent.com/401369/35469357-8a176fd6-0376-11e8-99bd-fa24784485b9.png" width="300" />

[2018-01-27 07:10] takahirom commented on #494
We should do it 👍
And if we can, sort ignore case

[2018-01-27 08:29] amay077 commented on #494
Okay, I can do it. 👍

[2018-01-27 08:30] takahirom commented on #494
@amay077 Thanks 👍 Assigned!

[2018-01-27 11:37] #355 closed

[2018-01-27 15:52] ogapants opened #500 "[assigned] FireBaseAnalytics.setCurrentScreen() on Fragment may not be called"
## Overview (Required)
(日本語で失礼します)

一部のFragmentで`FireBaseAnalytics.setCurrentScreen`が呼ばれないケースがあります。
そのFragmentとは、`AllSessionsFragment`や`SearchSessionsFragment`と、ViewPagerの中の最初のFragmentです。
一例として`SearchSessionsFragment`のライフサイクルは以下のようになります。

0. アプリを起動
0. bottom navigationで検索を選択
0. `SearchSessionsFragment`インスタンス生成
0. `setUserVisibleHint()`が呼ばれるが **ログは送れない**
0. `onAttach()`が呼ばれる
0. `onActivityCreated()

[2018-01-27 16:08] kiuchikeisuke commented on #402
Is this issue not assigned yet? If so I will try this :raising_hand:

[2018-01-27 16:09] takahirom commented on #402
Thanks! Assigned :+1:

[2018-01-27 16:50] #413 closed

[2018-01-27 16:51] #414 closed

[2018-01-27 17:13] kiuchikeisuke commented on #402
I have a question. :worried:
When I call facebook App, it need to use specific scheme(fb://page/<FacebookId>).

So, Where should I write this specific sheceme ? (Because it is very limited usecase, I think that I write it as Fragment' Const)

[2018-01-28 02:22] amay077 commented on #494
Thanks for merged :+1:

[2018-01-28 02:22] #494 closed

[2018-01-28 04:12] takahirom commented on #500
これ難しいですね 🤔
setUserVisibleHint()のときにgetActivityがnullなので送れないのが問題なんですよね？
誰かFragmentに強い人いますかね？

[2018-01-28 04:17] jmatsu commented on #500
うちのアプリはsetUserVisibleHintの引数がtrue && view != nullで送ってますね。(ViewPagerの中に置くときのみ)
あとChildFragmentのsetUserVisibleHintが呼ばれないバグがあったので、親Fragmentから明示的に呼んでます。

[2018-01-28 04:23] takahirom commented on #500
@jmatsu Viewから取得する方法なら初めて開いたときでもActivity context取得できるんですかね？

[2018-01-28 04:26] takahirom commented on #500
すみません、実験してみます

[2018-01-28 04:28] takahirom commented on #500
🤔
![image](https://user-images.githubusercontent.com/1386930/35479004-10f96e24-042f-11e8-8c65-aecb6e15da0b.png)

[2018-01-28 04:50] takahirom commented on #500
すごくかっこ悪いですが一応動きそう

[code]

[2018-01-28 05:00] #435 closed

[2018-01-28 05:07] KeithYokoma commented on #300
# Name

Daggraph

https://github.com/dvdciri/daggraph

# Description

Visualize Dagger2 object graph.

[2018-01-28 05:44] #349 closed

[2018-01-28 06:06] takahirom opened #503 "[Assigned] Prevent returning even if I erase the keyboard at search time"
## Overview (Required)
- Title says everything

![matanmj32ftakahirom01282018150334](https://user-images.githubusercontent.com/1386930/35479505-8d24ac2c-043c-11e8-963e-8d8b79520a20.gif)

[2018-01-28 06:12] takahirom opened #505 "[Assigned] Coexist with the debug version and the release version of the app"
## Overview (Required)
- When I install the debug app and release app, It shows the error message.

- I think We should change this value when debug
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/AndroidManifest.xml#L186

[2018-01-28 06:12] from-unknown commented on #503
Oh no...
I made this bug 🙇
Please let me fix it.

[2018-01-28 06:13] takahirom commented on #503
@from-unknown Thanks! Assigned 👍 🙇

[2018-01-28 06:13] mhidaka commented on #503
Don't mind!

[2018-01-28 06:36] kakajika commented on #500
少し冗長かもしれませんが、Rxの `withLatestFrom` を使ってイベントの待ち合わせをするという手もあります。

[code]

ご参考までに 😃

[2018-01-28 06:38] satoshun commented on #500
`FragmentStatePagerAdapter`クラスを拡張して頑張ることも出来そうだなと思いました。

[code]

[2018-01-28 06:52] takahirom commented on #505
Probably we can change it by using manifestPlaceholders.
https://github.com/DroidKaigi/conference-app-2018/blob/b4e55b86119a8bb3df2a09884afc60f76a868446/app/build.gradle#L67
Or overriding debug Manifest.xml
https://github.com/DroidKaigi/conference-app-2018/blob/b4e55b86119a8bb3df2a09884afc60f76a868446/app/src/debug/AndroidManifest.xml

[2018-01-28 07:03] takahirom commented on #500
もしやっていただける方いれば募集します 🙇
開いた時にsetCurrentScreenが呼ばれればOKです

[2018-01-28 07:12] kiuchikeisuke commented on #402
sorry, I resolved it myself.. :sweat_smile:

[2018-01-28 07:15] takahirom commented on #402
I'm sorry for late.🙇  I will think this

[2018-01-28 07:28] takahirom commented on #402
You can modify this. I think It is ok to ignore Facebook.
https://github.com/droidkaigi/conference-app-2018/blob/47091b54a8eff835efdca781b6ada69f49666281/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/NavigationController.kt#L142-L142
You can see this implementation for reference
https://cs.chromium.org/chromium/src/chrome/android/java/src/org/chromium/chrome/browser/externalnav

[2018-01-28 07:50] CaptainPAG commented on #284
sorry, too late：_(

[2018-01-28 08:24] satoshun commented on #500
やりたいです 💪💪💪

[2018-01-28 08:25] takahirom commented on #500
@satoshun Thanks!!! 💪

[2018-01-28 08:28] #284 closed

[2018-01-28 10:42] eneim commented on #500
Assigned されたが、コメントだけさせてください :D, ```setUserVisibleHint(true)``` でしかログを送信するようであれば、```FragmentStatePagerAdapter```を実装する時に、```FragmentStatePagerAdapter#setPrimaryItem()``` をOverrideして、何とかできるかもしれません :D (setUserVisibleHint()に「**true**」が渡されたのはこのメソッドでしか呼ばれないわけですね)

[2018-01-28 13:08] #503 closed

[2018-01-28 14:04] #500 closed

[2018-01-28 14:14] ogapants commented on #500
I learned a lot, thanks! 😃

[2018-01-28 14:28] takahirom opened #514 "[Assigned] Apply textIsSelectable = true for session details"
## Overview (Required)
- I want to google it 😄

[2018-01-28 14:44] masaibar commented on #514
🙋

[2018-01-28 14:48] takahirom commented on #514
@masaibar Thanks! Assigned 👍

[2018-01-28 14:50] takahirom opened #515 "I want to be able to go to GitHub and Twitter and etc.. of the speaker in SpeakerDetailFragment ."
## Overview (Required)
- It is a very abstract request, but this is all.
- We have that datas  https://github.com/DroidKaigi/conference-app-2018/blob/master/model/src/main/java/io/github/droidkaigi/confsched2018/model/Speaker.kt#L8

[2018-01-28 15:01] masaibar commented on #514
@takahirom I made selectable only detail text. Should I make selectable all texts in this screen?

<image src="https://user-images.githubusercontent.com/8677433/35483505-2eebfa9e-0486-11e8-952b-484602858efe.png" width=300>

[2018-01-28 15:04] takahirom commented on #514
You can do as you like. 👍
I think it is enough

[2018-01-28 15:11] kawmra commented on #505
@takahirom
How about changing the SearchSuggestionProvider's authorities attribute like `${applicationId}.presentation.search.SearchSuggestionProvider` ?

https://developer.android.com/studio/build/manifest-build-variables.html

I think it resolves package conflict.

[2018-01-28 15:11] takahirom commented on #515
I think using BottomSheet 🤔
http://yuki312.blogspot.jp/2017/07/replace-dialog-to-bottomsheet.html

[2018-01-28 15:13] takahirom commented on #505
@kawmra That's good 👍
Probably we should create extended SearchSuggestionProvider in debug package? 🤔
Can you do this? 😄

[2018-01-28 15:18] takahirom commented on #515
When tap speaker image. I am thinking of showing BottomSheet.
The first time, I think icons are not needed.
Please show texts in the BottomSheet.
Twitter
GitHub
Website
...

[2018-01-28 15:18] masaibar commented on #514
Thank you !
I made selectable the session title too.

[2018-01-28 15:21] kawmra commented on #505
@takahirom
I think the `android:name` attribute specifies actual class.
so I don't think we need create another class.

I think just changing `android:authorities` attribute would be fine.
(sorry for not having perfect understanding 😅 )

what do you think?

[2018-01-28 15:21] #514 closed

[2018-01-28 15:21] takahirom opened #517 "[Assigned] Add Google search item when select text in session detail"
## Overview (Required)
-
 <image src="https://user-images.githubusercontent.com/8677433/35483505-2eebfa9e-0486-11e8-952b-484602858efe.png" width=300/ >

[2018-01-28 15:25] takahirom commented on #505
@kawmra Thanks! I misunderstood!👍

[2018-01-28 15:34] kawmra commented on #505
@takahirom
thanks 🙏

but maybe AUTHORITY constant of [this](https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/search/SearchSuggestionProvider.kt#L7-L8) must be changed.
May I contribute for this?

[2018-01-28 15:35] takahirom commented on #505
@kawmra Sure! Thanks!

[2018-01-28 15:48] #402 closed

[2018-01-28 16:21] #505 closed

[2018-01-28 16:26] kiuchikeisuke commented on #515
I also want this function !! 😄

But I have concerns..🤔

I think that it is a bit difficult  for users to notice the action, because the speaker image icon is not seem to be able to click... :anguished:

So, I have 2 proposed amendment.

1st : Switch to speaker image icon that we can notich that it is clickable! (Ex. like floating button). And if users click speaker image icon, show BottomSheet.

2

[2018-01-28 16:36] takahirom opened #519 "When returning Flowable or Observable or Single or Completable etc.. , we should use @CheckResults"
## Overview (Required)
- It becomes more safely

[2018-01-28 16:44] takahirom commented on #515
1st: I think it's a bit strange that the image is an action button. AndI think floating action button should be the main action.  🤔

2nd: Do you say about `AboutThisAppFragent`?

[2018-01-28 16:49] takahirom commented on #515
2nd I don't like that 😭  Because the material design says this

https://material.io/guidelines/components/buttons-floating-action-button.html#buttons-floating-action-button-floating-action-button

[2018-01-28 18:14] miga9 commented on #64
@konifar, Is it a must that we keep Fragment inside Activity for all screens?

[2018-01-29 00:17] kiuchikeisuke commented on #515
Sorry for giving a misunderstanding. The example was bad...🙇

I think so too.1st idea was simply meaning to put a shadow on the current icon.

Yes! AboutThisAppFragment!

[2018-01-29 00:52] takahirom commented on #64
@miga9
I think the yellow layout of SpeakerDetailFragment can be bring to Activity. Are there any other layouts you would like to bring to Activity?

[2018-01-29 00:55] miga9 commented on #64
@takahirom, Thanks for your response! I was able to get it to work without getting rid of the fragment. I'm cleaning it up and will have a PR soon.

[2018-01-29 00:57] takahirom commented on #64
@miga9 It is amazing!

[2018-01-29 01:05] takahirom commented on #515
I think 1st one is better.
If you do this, please note that it can conflict this implementation.
https://github.com/DroidKaigi/conference-app-2018/issues/64

[2018-01-29 01:10] takahirom commented on #515
I think first time shadow is not needed.
But you can please do it👍

[2018-01-29 01:33] kiuchikeisuke commented on #515
ok,if this issue is not  assigned to amyone by today's night, I try this !

[2018-01-29 02:33] kiuchikeisuke opened #521 "[Assigned] High light current session card of the background"
## Overview (Required)
- ![screenshot_20180129-112143](https://user-images.githubusercontent.com/2305231/35490963-b70cffbc-04e6-11e8-8e05-78a9c00b40c3.png)

- I think that it is better to change the color of the background of session card so that we can more easily notice the currently open session

## Links
-

[2018-01-29 02:34] takahirom commented on #521
We should do it 😄

[2018-01-29 04:36] kitwtnb commented on #519
✋

[2018-01-29 04:37] konifar commented on #519
Thanks! I assigned!

[2018-01-29 05:44] futabooo opened #523 "Apply LifecyclEvent to SessionsFeedbackViewModel"
## Overview (Required)
- SessionsFeedbackViewModel has several methods to execute at the same timing as the life cycle event. So apply `OnLifecycleEvent` to SessionsFeedbackViewModel as another ViewModel

## Links
- https://github.com/DroidKaigi/conference-app-2018/pull/474#discussion_r164337070

[2018-01-29 05:59] futabooo opened #524 "Can't get session title by getAllSessionFeedback()"
## Overview (Required)
- Session title can't get, If Sessionfeedback of the target session already exists in the local database.

## Links
- https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/data/db/dao/SessionFeedbackDao.kt#L12

[2018-01-29 06:10] kazkn commented on #517
I wish try this! 🙋‍♂️

[2018-01-29 06:16] takahirom commented on #517
Thanks! Assigned:+1:

[2018-01-29 10:59] #517 closed

[2018-01-29 11:57] nukka123 opened #528 "[Assigned] Speaker name is not displayed on SearchSessionsFragment screen."
## Overview (Required)
This is bug repot.

before (#439) | now (name is not displayed)
------------ | -------------
![search_ok](https://user-images.githubusercontent.com/29206446/35509165-788e1f14-0536-11e8-8e7e-6767f4a3d30f.png) | ![search_fail](https://user-images.githubusercontent.com/29206446/35509191-906122b2-0536-11e8-8e03-f0c03509199e.png)

## Links
-

[2018-01-29 13:03] takahirom commented on #515
@kiuchikeisuke Can you do this? 😄

[2018-01-29 13:03] takahirom commented on #528
Thanks 👍 That's bug

[2018-01-29 14:03] kiuchikeisuke commented on #515
ok, I try it !! 😄  (But I might give up.. 😭

[2018-01-29 16:09] kiuchikeisuke commented on #515
I have a question 🤔

Blog and Company Icon don't exist..(Twitter and Github icon exist)
Should I look for free icons?

[2018-01-29 16:11] takahirom commented on #515
@kiuchikeisuke
You can implement only text. But If you want, Please use material icons 🙇
https://material.io/icons/

[2018-01-29 16:55] #523 closed

[2018-01-29 16:55] #524 closed

[2018-01-29 17:34] kiuchikeisuke commented on #515
Okey, I see!!. I will use bussiness icon for company icon , bold icon for blog icon. 😄

And there is something I want to hear.. 😢
For bottomsheetDialog, I'd like to make to the icon size 48dp.
Already, twitter, blog, and company icon is done.But github icon is not completed,because that resources are provided only .ai and .eps . https://github.com/logos
 I can't open these extension.. 😭

So, is it

[2018-01-30 00:41] takahirom commented on #515
@kiuchikeisuke I invited to Zeplin. Can you find GitHub icon?

[2018-01-30 00:51] takahirom opened #531 "Unification of the name of session feedback! questionnaire, survey, enqueate → session feedback"
## Overview (Required)
- title says everything

[2018-01-30 00:54] kiuchikeisuke commented on #515
Thank you for inviting me!! I got github Icon!! 😄

[2018-01-30 03:20] #40 closed

[2018-01-30 03:30] panpanini commented on #384
I'll start updating some of these, starting from ones related to testing as they should have lower affect on the app.

I have one question however - should we use alpha/beta versions, or stick to full releases (my opinion is we should **not** use alpha/beta versions)

[2018-01-30 03:32] takahirom commented on #384
Since there is not much time until the first release, we agree with it. 👍

[2018-01-30 11:08] nukka123 commented on #528
The cause was found out.

item_horizontal_session.xml
[code]
->  app:textColor is not specified.

SpeakersSummaryLayout.kt
[code]
-> This means full transparent color.

[2018-01-30 11:08] nukka123 commented on #528
ok. i fix it.

[2018-01-30 11:09] takahirom commented on #528
Thanks!!!😂😂

[2018-01-30 11:49] #528 closed

[2018-01-30 14:31] #64 closed

[2018-01-30 15:59] nukka123 opened #539 "Re-registering SessionAlarm after device reboot."
## Overview (Required)
This application has a feature that users register SessionAlarm for favorited sessions.
SessionAlarm uses AlarmManager.
Unfortunately, AlarmManager is cleared when a device shuts down.

Therefore, it seems to be necessary to re-register SessionAlarm as a trigger such as device reboot.

## Links
- https://developer.android.com/training/scheduling/alarms.html#boot

[2018-01-31 00:50] takahirom commented on #539
Thanks for reporting much time!We are helped!
I think it is important.
But 2017 app does not implement that. So, probably we can release without that.
If we implement that, Implement the bootcoplete broadcast receiver that starts service. That service get sessions by SessionRepository. And resister SessionAlarm.

[2018-01-31 02:55] miga9 opened #542 "[Assigned] Crash at Session Detail screen upon activity state loss"
## Overview (Required)
Steps to reproduce:
- Navigate to any Session Detail screen.
- Put the app in background by tapping on device home button.
- Perform a bunch of other actions to put the device in low memory situation to trigger state loss.
- Open the app when you think you did enough.
- Crash.

Stacktrace:
`01-30 21:54:37.382 7569-7569/io.github.droidkaigi.confsched2018.debug E/AndroidRuntim

[2018-01-31 02:59] takahirom commented on #542
Thanks 👍
I was able to reproduce the crash by enabling the "Do not keep activities" option on it

[2018-01-31 03:07] takahirom commented on #542
Probably We can use nullable for `setSpeakers()` parameter. And early return `speakers ?: return`

[2018-01-31 03:21] #531 closed

[2018-01-31 03:27] takahirom opened #543 "Session message feature"
## Overview (Required)
- If session canceled, we should show the message.
- The DroidKaigi Session API will return the message.

[2018-01-31 10:47] P3PPP opened #544 "BottomNavigationView dose not come back"
## Overview (Required)

- BottomNavigationView dose not come back when start vertical scrolling on CardView.

![du3ov1gu8aahkst](https://user-images.githubusercontent.com/6535470/35618761-42e60ce8-06bf-11e8-9466-95fcbad649d7.jpg)

## Links

- https://twitter.com/ticktackmobile/status/958649186039209985

[2018-01-31 12:07] takahirom opened #545 "Apply build-scan-plugin"
## Overview (Required)
- I think DroidKaigi is not slow build.
If you can learn it, you can use it in your work.

## Links
- https://docs.gradle.com/build-scan-plugin/

[2018-01-31 13:10] jmatsu commented on #294
👀

@daisuke-nomura
Sorry for the delay to check 🙇

@takahirom ping

[2018-01-31 13:14] mstssk commented on #543
Hi, I released additional message feature of Session API!

The API returns `message` property, if a session has additional message.

[code]

[2018-02-01 04:04] #544 closed

[2018-02-01 05:02] #515 closed

[2018-02-01 05:21] takahirom opened #551 "[Assigned] It makes it possible to go to the whole survey of the navigation drawer."
## Overview (Required)
-  https://github.com/DroidKaigi/conference-app-2018/blob/63f038aec2b3547c1acc0a1957516e5bd5eda731/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/common/menu/DrawerMenu.kt#L118
![image](https://user-images.githubusercontent.com/1386930/35662390-37c36044-075b-11e8-800e-fb827a912309.png)

## Links
- this is the link!
- https://goo.gl/forms/Hjp54vk5P0VILcgf1

[2018-02-01 05:55] panpanini commented on #551
I'll do this! 🙋

[2018-02-01 05:55] panpanini commented on #542
Can I have a look at this issue? 🙋

[2018-02-01 05:56] takahirom commented on #551
@panpanini Thanks 👍

[2018-02-01 05:57] takahirom commented on #542
@panpanini Thanks :+1:

[2018-02-01 06:47] #543 closed

[2018-02-01 06:53] #551 closed

[2018-02-01 09:54] #542 closed

[2018-02-01 11:09] takahirom commented on #521
Thanks! Assigned 👍

[2018-02-02 05:54] takahirom opened #559 "[Assigned] Apply textIsSelectable = true for FeedFragment text (お知らせ)"
## Overview (Required)
- Probably we share wifi SSID and password.
- It is useful when user copying that.

[2018-02-02 13:00] nappannda commented on #559
🤚

[2018-02-02 13:03] takahirom commented on #559
This is high priority task! So thank you very much!  Assigned 👍

[2018-02-02 13:25] KeithYokoma commented on #256
@atsuko-fukui Yes, definitely!

FYI: There might be additional work other than replacing left/right with start/end.

1. Some drawable assets need to be flipped horizontally.
  We can use `android:autoMirrored` for those since `minSdkVersion = 19`, although we need to create XML files for image assets to flip them horizontally.
2. android.support.v4.view.ViewPager does not support RTL direction scr

[2018-02-02 13:45] shikajiro commented on #110
@takahirom
please change status open. assign to me.
someday pull request will be given when kotlin-dsl is stabilized.
（kotlin-dslがいつか安定したらまたPRしたいので、担当を僕にして、オープンにしててくださいませんかー！？）

[2018-02-02 13:46] takahirom commented on #110
Sure!

[2018-02-02 13:54] #416 closed

[2018-02-02 14:01] konifar commented on #110
🆒

[2018-02-02 20:59] zaki50 commented on #539
I'll take a look if no one is working on it.

[2018-02-03 05:54] adakoda opened #565 "The text of FeedFragment is clipped."
## Overview (Required)
This is a bug report.

## Links
![1](https://user-images.githubusercontent.com/330223/35763541-efbe1832-08f1-11e8-9b20-ab6fcb9a5b52.png)
![2](https://user-images.githubusercontent.com/330223/35763542-f16b3a3e-08f1-11e8-8bb7-e9e47e434643.png)

[2018-02-03 06:21] rkowase opened #568 "The speaker list of session item is not displayed in the Speaker Detail Screen"
## Overview (Required)
![device-2018-02-03-151319](https://user-images.githubusercontent.com/8059722/35763722-884963ce-08f5-11e8-815c-05d8592e8beb.png)

[2018-02-03 06:24] takahirom commented on #568
@rkowase
Thanks 👍
Does it occur when the speaker has two sessions? 🤔

[2018-02-03 06:32] rkowase commented on #568
It occur even when the speaker has one session.
![device-2018-02-03-152849](https://user-images.githubusercontent.com/8059722/35763786-165be55a-08f7-11e8-97fb-77393f61c72b.png)

[2018-02-03 06:33] takahirom commented on #568
😭

[2018-02-03 07:06] jmatsu opened #569 "Support time-based session layouts"
## Overview (Required)
- This app is currently categorizing sessions by Room though, some of users might want to see sessions by `start_time`.

## Links
- none

[2018-02-03 07:23] gen0083 commented on #568
On my environment:

- Nexus6P API27 reproduce this
- Nexus5 API22 not reproduce this🤔

[2018-02-03 08:53] #521 closed

[2018-02-03 09:53] takahirom commented on #565
The layout is here 🤔
https://github.com/droidkaigi/conference-app-2018/blob/50a2ba426104fc9d004fb3fa91279f41f47f4555/app/src/main/res/layout/item_feed.xml#L52-L52

[2018-02-03 10:03] takahirom commented on #568
I think it is related transition animation.
Can we exclude it? 🤔

[2018-02-03 12:03] daisuke-nomura commented on #294
うーん 残り日数少ないですし、閉じちゃいますね

[2018-02-03 12:03] #294 closed

[2018-02-03 12:53] #565 closed

[2018-02-03 13:11] rkowase opened #575 "Add share button to the Session Detail Screen"
## Overview (Required)
- It seems better to have a share button in the Session Detail Screen.
- There is no specification and design.

[2018-02-03 15:46] tyutyu08 opened #580 "[Assigned] Faster Circle CI build by caching Bundle install"
## Overview (Required)
- Ruby dependencies can be cached as well as Android SDK and library dependent caching.
- If you do so, you can shorten the build time, though slightly.

## Links
- https://circleci.com/docs/2.0/language-ruby/

May I create a pull request?

[2018-02-03 17:17] takahirom commented on #580
Thanks! It is must!! 👍  Please do it 🙇

[2018-02-04 01:57] #569 closed

[2018-02-04 02:29] noxi515 opened #582 "Tap while scrolling for some reason, bottom navigation will be displayed"
## Overview (Required)
- Tap while scrolling for some reason, bottom navigation will be displayed.

[2018-02-04 02:33] OldBigBuddha opened #583 "Can't Start"
## Overview (Required)
DeplayGateの＃351で起動ができません
エラー内容は以下でした
02-04 11:32:01.670 29993 29993 E AndroidRuntime: FATAL EXCEPTION: main
02-04 11:32:01.670 29993 29993 E AndroidRuntime: Process: io.github.droidkaigi.confsched2018, PID: 29993
02-04 11:32:01.670 29993 29993 E AndroidRuntime: b.k: lateinit property binding has not been initialized
02-04 11:32:01.670 29993 29993 E AndroidRuntime: 	at io.git

[2018-02-04 02:34] takahirom commented on #583
Thanks 👍 And Sorry
We are working on fixing that 🙇

[2018-02-04 02:35] OldBigBuddha commented on #583
環境はZenfone2でAndroid6.0.1です

[2018-02-04 02:40] #583 closed

[2018-02-04 02:43] takahirom commented on #582
In japanese (セッション一覧画面でスクロールするとBotttomNavigation消えるけど、スクロール中に（スクロールが停止する前に）再度タッチでスクロールするとBottomNavigationが再表示される)

[2018-02-04 07:08] takahirom opened #588 "On Android 4.4, the DayHeader view is behind the View of the session item."
## Overview (Required)
- On Android 4.4, the DayHeader view is behind the View of the session item.
- You can check it on Emulator

[2018-02-04 07:11] takahirom commented on #559
This pull request reverted.
We should use `textIsSelectable = true`. But we should not break the layout.
![image](https://user-images.githubusercontent.com/1386930/35775109-cf379af0-09c5-11e8-9eb6-7687a47de7a0.png)

[2018-02-04 07:17] takahirom opened #589 "When switching time based sessions, I want to see current time session"
## Overview (Required)
- Title says everything.
- You can check it by changing device time
![image](https://user-images.githubusercontent.com/1386930/35775154-d1afbe7e-09c6-11e8-96f8-6d02e05aee08.png)

[2018-02-04 08:06] takahirom opened #590 "Memory leak by tab logic"
## Overview (Required)
- This leak is not only sessions 😭
- https://github.com/DroidKaigi/conference-app-2018/pull/577#issuecomment-362874431

![image](https://user-images.githubusercontent.com/1386930/35775529-6256bd00-09cd-11e8-8f8d-52e844cc7651.png)

[2018-02-04 08:18] ogapants commented on #590
https://twitter.com/new_runnable/status/960062516251340800
I'll check it!

[2018-02-04 08:32] ogapants commented on #590
@takahirom Sorry,
Could you tell me the procedure for reproducing?

[2018-02-04 08:44] takahirom commented on #590
@ogapants I don't have reproducing method. 😭  But I think Kotlin object is the singleton. So it is leaking.
Can you stop cache fragment? like this https://github.com/DroidKaigi/conference-app-2018/pull/493/files#diff-8fa8830b5e88e5e809ec4e5ea4be2e6cR195
It occurred another leaking
![image](https://user-images.githubusercontent.com/1386930/35775747-289e0b0e-09d2-11e8-9946-6c5210890fce.png)

[2018-02-04 09:18] ogapants commented on #590
@takahirom
ご迷惑おかけしてすみません！
ちょっと2点確認させてください。

1.
ちょっと最新のmasterのdebug版でBottomNaviの検索周りをいじってみてもそのleakcanaryが再現しないのですが、↓こちらでのFragmentの取得もそのような取得方法を取ればいいですかね？
https://github.com/ogapants/conference-app-2018/blob/3da6872e19921cdc20a3947bdacee3cc3f1a2cbc/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/search/SearchFragment.kt#L238-L238
手元で事前に再現させて見たいので、もし操作する上で決まり手のようなものがあれば教えていただきたいです。

[2018-02-04 09:19] takahirom commented on #590
@ogapants それいま修正されてmasterに入っています！！話ややこしくしてすみません！ 🙇

[2018-02-04 09:26] ogapants commented on #590
@takahirom なるほど！すみません！1だけやります！！！

[2018-02-04 09:50] takahirom commented on #590
検索タブ開いて終了を繰り返して極稀にという感じですね。。
![image](https://user-images.githubusercontent.com/1386930/35776252-3fc853ac-09dc-11e8-8398-e4eee6ac7603.png)

[2018-02-04 09:57] adakoda commented on #588
How about this https://github.com/DroidKaigi/conference-app-2018/pull/592

[2018-02-04 10:00] ogapants commented on #590
手元でもなにかをきっかけに稀に再現することを確認しました、、、↑の対応取ってみたところ発生しなくなった気がするので、とりあえずPR投げてみますね 🙏

[2018-02-04 10:05] #588 closed

[2018-02-04 10:30] nacatl commented on #353
@konifar
I'm very sorry for my delay...
Report the current status.

I finished this issue, but the current code don't supported #493
So please wait a little, I will support that tab mode!

[2018-02-04 10:53] #580 closed

[2018-02-04 11:55] #590 closed

[2018-02-04 12:46] matsujun opened #596 "Three speakers are not supported on search layout"
## Overview (Required)
- 3rd speaker is not shown in session card...
![device-2018-02-04-214359](https://user-images.githubusercontent.com/10704349/35777636-baa26d98-09f4-11e8-84e1-5f4a890bed2d.png)

[2018-02-04 12:59] takahirom commented on #596
It seems necessary to increase the height by about 64 dp.

[2018-02-04 13:42] #596 closed

[2018-02-04 13:42] nacatl opened #599 "Bottom Navigation will be never shown"
## Overview (Required)
- At first, scroll to below for hiding the bottom navigation.
- Secondly, disable 'BottomNavigationを隠す'.
- Then back to SessionsFragment, users can't display the bottom navigation

![never_shown_bottom_navigation](https://user-images.githubusercontent.com/26807657/35778090-9235fc3c-09fc-11e8-9450-2e2c81fb6dc4.gif)

[2018-02-04 13:44] takahirom commented on #599
Thanks!

[2018-02-04 14:15] #582 closed

[2018-02-04 15:54] takahirom opened #604 "Separate transition logic from SpeakerDetailFragment"
## Overview (Required)
- SpeakerDetailFragment is a little long.

## Links
- https://twitter.com/punchdrunker/status/960178064876478465
![image](https://user-images.githubusercontent.com/1386930/35779348-deb27ea2-0a0e-11e8-8104-d00880dd5589.png)

[2018-02-05 03:55] atsuko-fukui commented on #256
@KeithYokoma Thank you for you comment.

1. I don't know which icon we should be flipped 🤔 Like characters, symbols should be treated as it sees, I think. Do you mean directional symbol like arrows (->) ?

2. I didn't know that! 😂 I try this with another issue if we need.

[2018-02-05 04:50] KeithYokoma commented on #256
@atsuko-fukui Yes, flipping the directional symbols is the most important one! You can find more about flipping drawables here(https://material.io/guidelines/usability/bidirectionality.html#bidirectionality-ui-mirroring-overview)

[2018-02-05 04:52] KeithYokoma commented on #256
@atsuko-fukui Quick workaround for ViewPager is to have a ViewPager contents list in a reverse order when it's RTL!

[2018-02-05 07:45] #256 closed

[2018-02-05 08:51] #599 closed

[2018-02-05 09:38] panpanini commented on #568
I think its related to transition animation 🤔
If I set `Don't Keep Activities`, and then re-open the Activity, then it will appear (so it only disappears when transitioning).

I'll take a look at this one tonight! 🙋

[2018-02-05 10:59] #353 closed

[2018-02-06 00:02] takahirom opened #616 "Apply Android KTX"
## Overview (Required)
- If you find a place to replace, please replace it. I will not assign this issue, so I think it is better to replace it with smaller units.

## Links
- https://github.com/DroidKaigi/conference-app-2018/pull/615

[2018-02-06 01:25] hironytic commented on #568
Because I was too sad to loose this transitioning animation, I made an ugly patch.

[2018-02-06 05:23] ctake0005 opened #619 "Too small notification icon"
## Overview (Required)
- The notification icon size of each dpi is too small. (For example, xxxhdpi contains 48 x 48 px, but should be 96 x 96 px.)
- I will attach a screenshot taken with pixel.
![status-bar](https://user-images.githubusercontent.com/9300164/35842808-eb84cd76-0b47-11e8-94d8-e81b561d9f69.png)

## Links
- https://developer.android.com/guide/practices/ui_guidelines/icon_design_status

[2018-02-06 05:52] takahirom commented on #619
The icon is here
The icon is 36dp 😭
https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/res/drawable-xxhdpi/ic_notification.png

[2018-02-06 06:44] takahirom opened #620 "[Assigned] Use Shinjuku Grand Tower 1F, 5F instead of Shinjuku Grand Tower 5F"
## Overview (Required)
- We should use `1F, 5F`  for access

## Links
-　
![image](https://user-images.githubusercontent.com/1386930/35845113-2f04e124-0b54-11e8-8d79-6205a37bef51.png)

[2018-02-06 07:00] ctake0005 commented on #619
Oh, the original icon size is small...
OK, I'll try to crop it out from the launcher icon.

[2018-02-06 07:43] seisuke commented on #589
Current time session has been opened already at the master branch.
But it works at time and room based session screen.
![device-2018-02-06-162644](https://user-images.githubusercontent.com/53058/35846941-f52aa756-0b5b-11e8-8c23-1507b33844b5.png)

[2018-02-06 07:45] takahirom commented on #589
@seisuke Thanks, I think that is good. 👍
I think it is better to show DAY1 / 14:00 tab.
What do you think? 🤔

[2018-02-06 07:47] #619 closed

[2018-02-06 08:01] hironytic commented on #620
🙋

[2018-02-06 08:02] konifar commented on #620
Thanks! Assigned

[2018-02-06 08:02] takahirom commented on #620
Thanks!!!!!! 🙇 🙇

[2018-02-06 08:28] #620 closed

[2018-02-06 09:50] yamacraft opened #624 "Notifications text to omitted"
## Overview (Required)
- Notifications text to omitted. set style `Notification.BigTextStyle`?

## Links
- https://github.com/DroidKaigi/conference-app-2018/blob/master/app/src/main/java/io/github/droidkaigi/confsched2018/presentation/common/notification/NotificationHelper.kt
![2018-02-06_18_19_57](https://user-images.githubusercontent.com/1332886/35852380-16f493bc-0b6e-11e8-9d52-83cf54d97808.png)

[2018-02-06 10:13] ymnder commented on #624
I want to do it!!

[2018-02-06 10:18] takahirom commented on #624
Thanks! Assigned 👍

[2018-02-06 10:19] yamacraft commented on #624
Thank youuuuuuuuuu!! 😂

[2018-02-06 11:55] seisuke commented on #589
I implement to show current session tab.

[2018-02-06 12:35] gen0083 opened #628 "[Help wanted] Speaker icon quickly tapped issue"
## Overview (Required)
- when I tapped speaker icon quickly, SpeakerDetailActivity launch twice
- press back button twice then speaker icon is not shown
- the icon will be shown by re-bind with scroll or move to other Fragment

![ezgif-4-92c871ff15](https://user-images.githubusercontent.com/7608725/35859695-69ae3098-0b84-11e8-82b4-911a59c11851.gif)

[2018-02-06 13:51] #589 closed

[2018-02-07 00:53] P3PPP commented on #544
👍

[2018-02-07 02:31] takahirom commented on #628
This issue is difficult. When I try using shared element transition, I could not fix it 🤔

[2018-02-07 03:53] takahirom opened #634 "Fatal Exception: java.lang.NoSuchMethodError android.content.res.Configuration.getLayoutDirection"
## Overview (Required)
- Stacktrace

[code]

## Links
-

[2018-02-07 04:08] jmatsu commented on #628
I guess SpeakerDetailActivity can be single instance so that should we change launch mode?
 I'm not sure it will work fine for this problem though....

[2018-02-07 04:09] takahirom commented on #634
I think it is not supported device.
I don't know why it occurred 😭
![image](https://user-images.githubusercontent.com/1386930/35898145-1c6082ee-0c08-11e8-9fc8-134f42ca2db5.png)

[2018-02-07 04:09] #634 closed

[2018-02-07 05:18] hiroyuki-seto opened #638 "Noto font does not applied to Speaker Sticky label"
## Overview (Required)
- Noto font does not applied to Speaker Sticky label
  - Maybe, Typeface is not set Paint in ItemDecoration
- Screenshot is below

![device-2018-02-07-141225](https://user-images.githubusercontent.com/5267827/35899712-3eda533c-0c11-11e8-89fd-8d97309a2c36.png)

[2018-02-07 05:32] oldergod opened #640 "Speakers' SNS links could be displayed by default"
## Overview (Required)
Now, once a speaker view is opened, one has to click once more on the user icon to display its SNS links. I don't think that's really intuitive and I didn't know we could do that before I saw [this tweet](https://twitter.com/new_runnable/status/958977353673203712). How about just always displaying it as a bottom view?

[2018-02-07 05:50] #638 closed

[2018-02-07 05:54] #628 closed

[2018-02-07 06:18] tjmmm opened #642 "Proposal: make undoable at removing favorite on mysession screen"
## Overview (Required)
Currently, the session is removed from the screen when remove favorite on mysession screen. Checking "what session is removed" is difficult when remove favorite accidentally.
So, I propose "keep showing the session" (or "show navigation for 'undo'") in mysession screen.

[2018-02-07 12:32] takahirom commented on #642
👍

[2018-02-07 12:39] takahirom commented on #640
I think so
If we can implement cool ui, we should do it👍

[2018-02-07 21:09] hironytic commented on #642
I'm trying 🙋

[2018-02-08 02:09] konifar opened #651 "Session feedback doesn't work well"
## Overview (Required)
The progress view keeps on the screen.
I don't know the data is submitted but it should be fixed asap.

[2018-02-08 03:07] #651 closed

[2018-02-08 06:25] mstssk opened #657 "Open Notification Channel settings in system from app's setting screen in Oreo."
## Overview (Required)
- Users can specify settings for each Notification Channels from Android 8.0 Oreo.
- So we need to implement links to Notification Channel settings, like this:

[code]

## Links
- https://qiita.com/mstssk/items/14e1b94be6c52af3a0a6#%E3%82%A2%E3%83%97%E3%83%AA%E5%81%B4%E3%81%8B%E3%82%89os%E5%81%B4
- https://developer.android.com/guide/topics/ui/notifiers/notifications.html?hl

[2018-02-08 06:33] yutaro6547 opened #658 "Bug in the questionnaire section"
## Overview (Required)
- When you erase the letters while long press in the field to enter the questionnaire, the cursor returns to the top.

## Links
-
![content](https://user-images.githubusercontent.com/10941282/35958676-525a2728-0ce5-11e8-9f18-5202bc95a433.gif)

[2018-02-08 11:16] takahirom commented on #658
I think if we can save data when focus out. It is best 👍

[2018-02-08 11:27] yutaro6547 commented on #658
I will fix this.
Please wait a moment.

[2018-02-10 01:03] takahirom opened #661 "Use Completable.fromCallable() instead of Copletable.create()"
## Overview (Required)
- It is safer

[2018-02-10 01:44] konifar commented on #661
👍 `fromAction` is better?

[2018-02-10 01:49] takahirom commented on #661
👍

[2018-02-14 09:21] #110 closed

[2018-02-14 09:34] takahirom opened #666 "[Assigned] Error build cache"
## Overview (Required)
- CircleCI Build cache is not working
- We should fix here https://github.com/DroidKaigi/conference-app-2018/blob/master/.circleci/config.yml#L13
- https://circleci.com/gh/DroidKaigi/conference-app-2018/1378

[code]

[2018-02-14 09:41] shikajiro commented on #666
ノ

[2018-02-14 09:42] takahirom commented on #666
Thanks 👍 Assigned

[2018-02-16 00:03] #666 closed

[2018-03-09 02:55] takahirom opened #670 "Update to Kotshi to 1.0.2 for resolving dependency"
## Overview (Required)
- Probably we cannot build when cloning and clean build.
- We should update kotshi version.

## Links
- You can check this context (https://twitter.com/tacksman/status/971828699191394309 Sorry for  Japanese)

[2018-03-09 22:03] Capotasto commented on #670
@takahirom Hi I tried to build with 1.0.2 but still, the error same as 0.3.0 happens. I wonder what else I could try.

[code]

[2018-03-10 05:24] takahirom commented on #670
Thanks I will check it

[2018-03-10 09:38] takahirom commented on #670
Probably
The latest version is 1.0.1 in maven central.
Probably we can use it 👍
https://mvnrepository.com/artifact/se.ansman.kotshi/compiler

[2018-03-10 09:56] #670 closed

[2018-03-29 06:19] futabooo commented on #300
# Name
Android 9-patch shadow generator
http://inloop.github.io/shadow4android/#

# Description
https://github.com/inloop/shadow4android/blob/gh-pages/README.md

[2018-04-29 07:17] shenshizhong opened #673 "why don't use Android studio"
## Overview (Required)
-

## Links
-

[2018-04-30 06:14] panpanini commented on #673
Sorry, I'm not sure what you mean.. could you give some more information please?

[2018-05-14 19:12] jmatsu commented on #673
Let me close.

[2018-05-14 19:12] #673 closed

[2018-07-11 08:03] antygravity opened #675 "Unable compile project after update Kotlin library to latest version."
## Overview (Required)
-

## Links
-

[2018-07-11 08:40] panpanini commented on #675
I tried updating the Kotlin version to `1.2.51`, but I didn't have any compile issues, could you explain in more detail what was happening?

[2018-07-15 11:16] takahirom opened #677 "Could not find dependency"
## Overview (Required)
- I bought a new MacBook Pro. I can't find the dependency. Probably this is related with https://github.com/DroidKaigi/conference-app-2018/pull/676 🤔

[code]

[2018-07-15 12:59] takahirom commented on #677
I fixed it.
But I don't know why 🤦‍♂️
I tried this. Please refer if you can not build

* Refresh
![image](https://user-images.githubusercontent.com/1386930/42734139-fcfd6590-8879-11e8-8ffe-9bc9481eae19.png)
* Set variant
![image](https://user-images.githubusercontent.com/1386930/42734143-038c22e8-887a-11e8-8b54-c2d43ad0331b.png)
* Sync project with Gradle Files
![image](https://user-images.githubu

[2018-07-15 12:59] #677 closed

[2019-02-27 21:40] rynkowsg opened #683 "Decrypted google-services.json"
## Overview (Required)

Your google-services.json file contains some secrets. I guess you are aware of it since you decrypt it in [your CI step](https://github.com/DroidKaigi/conference-app-2018/blob/f19dd63f8b691d44ba7f758d92c2ca615cdad08d/.circleci/config.yml#L41), so I suppose adding the decrypted file into the repo history had to be a mistake.

## Links
history of decrypted google-services.jso

[2019-02-28 09:43] jmatsu commented on #683
Thank you for getting in touch.

That's done on purpose. The json file you have attached and the encrypted json file differ.

*https://github.com/DroidKaigi/conference-app-2018/commits/f19dd63f8b691d44ba7f758d92c2ca615cdad08d/app/google-services.json*

This json is only for development and uses free plan.

*https://github.com/DroidKaigi/conference-app-2018/blob/master/encrypted-google-services.jso